[package]
edition = "2021"
name = "price-feed"
version = "0.1.0"


[dependencies]
binance = "0.17"
chrono = "0.4.19"
clap = { version = "3.0.0-rc.4", features = ["derive"] }
custom_derive = "0.1.7"
enum_derive = "0.1.7"
env_logger = "0.9.0"
futures = "0.3"
jsonrpc-client-transports = "18.0.0"
jsonrpc-core = "18.0.0"
lazy_static = "1.4.0"
log = "0.4.14"
serde = { version = '1.0.136', features = ["derive"] }
serde_json = "1.0.45"
signal-hook = "0.3"
signal-hook-tokio = { version = "0.3", features = ["futures-v0_3"] }
tokio = { version = "1.9", features = ["full"] }
tokio-stream = "0.1"
url = "1.7.0"
warp = "0.3"
