[package]
name = "pallet-lending"
version = "0.0.1"
authors = ["Composable Developers"]
homepage = "https://composable.finance"
edition = "2018"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies.codec]
default-features = false
features = ["derive"]
package = "parity-scale-codec"
version = "2.0.0"

[dependencies]
frame-support = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.10"  }
frame-system = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.10" }
pallet-vault = { default-features = false, version = "0.0.1", path = "../vault", optional = true }
plotters =  {version = "0.3.1", optional = true}

sp-runtime = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.10" }
sp-arithmetic = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.10" }
sp-io = { default-features = false,  git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.10" }
sp-core = { default-features = false,  git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.10" }
sp-std = { default-features = false,  git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.10" }

composable-traits = { version = "0.0.1", path = "../composable-traits", default-features = false }

pallet-oracle = { default-features = false, optional = true, version = "1.0.0", path = "../oracle" }
frame-benchmarking = { default-features = false, optional = true, git = 'https://github.com/paritytech/substrate.git', branch = 'polkadot-v0.9.10' }

serde = { version = '1', optional = true }
log = { version = "0.4.14", default-features = false }
num-traits = { version = "0.2.14", default-features = false }

[dev-dependencies]
hex-literal = "0.3.3"
once_cell = "1.8.0"
proptest = "0.9.6"
serde = "1.0.119"

orml-tokens = { git = "https://github.com/open-web3-stack/open-runtime-module-library", rev = "37e42936c41dbdbaf0117c628c9eab0e06044844" }
orml-traits = { git = "https://github.com/open-web3-stack/open-runtime-module-library", rev = "37e42936c41dbdbaf0117c628c9eab0e06044844", default-features = false }
pallet-balances = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.10" }
pallet-timestamp = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.10" }
pallet-currency-factory = { version = "0.0.1", path = "../currency-factory" }
pallet-liquidations = { version = "0.0.1", path = "../liquidations" }
pallet-dutch-auctions = {version = "0.0.1", path = "../dutch-auction" }
pallet-oracle = { version = "1.0.0", path = "../oracle" }
pallet-vault = { version = "0.0.1", path = "../vault" }

[features]
default = ["std"]
std = [
    "serde/std",
    "codec/std",
    "log/std",
    "frame-support/std",
    "frame-system/std",
    "sp-runtime/std",
    "sp-io/std",
    "sp-core/std",
    "sp-std/std",
    "sp-arithmetic/std",
    "composable-traits/std",
    "pallet-vault/std",
]

runtime-benchmarks = [
    "frame-benchmarking",
    "frame-support/runtime-benchmarks",
    "frame-system/runtime-benchmarks",
    "pallet-oracle/runtime-benchmarks",
]

visualization = ["plotters"]
