# NOTE this file is sorted by precedence. Later patterns take precedence over earlier ones
# NOTE: `<directory> <team1> <team2>` means `<team1> OR <team2> member is enough for review`


## Default reviewers

* @ComposableFi/core  # For anything not owned by a specific team, a core member needs to review or delegate

*.nix @ComposableFi/developers # until under specific folder, *.nix stuff is developers' stuff

## CI and deployment related files

.github/ @ComposableFi/nix @ComposableFi/core
.github/CODEOWNERS @ComposableFi/core
docker/ @ComposableFi/nix @ComposableFi/core
Makefile @ComposableFi/nix @ComposableFi/core

## Parachain related files

code/parachain/runtime/ @ComposableFi/parachain-leads

code/parachain/node/ @ComposableFi/parachain-leads
code/parachain/frame/ @ComposableFi/parachain
code/integration-tests/ @ComposableFi/parachain @ComposableFi/testers

code/parachain/frame/composable-traits/ @ComposableFi/parachain-finance
code/parachain/frame/pablo/ @ComposableFi/parachain-finance
code/parachain/frame/dex-router/ @ComposableFi/parachain-finance
code/parachain/frame/nft/ @ComposableFi/parachain-finance
code/parachain/frame/staking-rewards/ @ComposableFi/parachain-finance
code/parachain/frame/oracle/ @ComposableFi/parachain-finance
subsquid/ @ComposableFi/parachain-finance @ComposableFi/blockchain-integrations
code/parachain/frame/*/rpc/ @ComposableFi/parachain-finance
code/parachain/frame/*/runtime-api @ComposableFi/parachain-finance

code/Cargo.lock @ComposableFi/parachain-leads @ComposableFi/core @ComposableFi/nix
code/Cargo.toml @ComposableFi/parachain-leads @ComposableFi/core @ComposableFi/nix

## Public Gitbook

book/ @ComposableFi/technical-writers
README.md @ComposableFi/technical-writers @ComposableFi/core @ComposableFi/parachain-leads @0xbrainjar2

## Frontend and Blockchain Integration
frontend/ @ComposableFi/blockchain-integrations @ComposableFi/parachain-finance
.github/workflows/frontend-pablo-eslint.yml @ComposableFi/nix @ComposableFi/blockchain-integrations
.github/workflows/frontend-pablo-tests.yml  @ComposableFi/nix  @ComposableFi/blockchain-integrations
.github/workflows/frontend-picasso-eslint.yml  @ComposableFi/nix  @ComposableFi/blockchain-integrations
.github/workflows/frontend-picasso-tests.yml  @ComposableFi/nix  @ComposableFi/blockchain-integrations

## Runtime Integration Tests

code/integration-tests/runtime-tests/ @ComposableFi/testers

## Developer Infrastructure

.devcontainer/ @ComposableFi/nix
.nix/ @ComposableFi/nix
flake.nix @ComposableFi/nix
flake.lock @ComposableFi/nix
Dockerfile @ComposableFi/nix
composable.code-workspace @ComposableFi/nix
.hadolint.yaml @ComposableFi/nix @ComposableFi/nix
.envrc @ComposableFi/nix
.dockerignore @ComposableFi/nix @ComposableFi/nix
.gitignore @ComposableFi/nix @ComposableFi/nix

rust-toolchain.toml @ComposableFi/nix @ComposableFi/core

## ComposableJS
composablejs/ @ComposableFi/parachain

## Dev stuff
rfcs/ @ComposableFi/developers
docs/ @ComposableFi/developers @ComposableFi/technical-writers @0xbrainjar2
scripts/ @ComposableFi/developers @ComposableFi/nix
code/utils/ @ComposableFi/developers @ComposableFi/nix @ComposableFi/testers
Makefile.toml @ComposableFi/developers @ComposableFi/testers

## Oracle Setup Script
scripts/oracle-setup @ComposableFi/parachain

## Repository 
README.md @ComposableFi/technical-writers @ComposableFi/core
SECURITY.md @ComposableFi/core
REVIEWERS.md @ComposableFi/core
ARCHITECTURE.md @ComposableFi/core
LICENSE @ComposableFi/technical-writers @ComposableFi/core

## Frontend 
/frontend/ @ComposableFi/fe