[profile.release]
panic = "unwind"

[workspace]
members = [
    "frame/*",
    "node",
    "price-feed",
    "runtime/picasso",
	"runtime/common",
	"runtime/primitives",
	"utils/faucet-server",
	"utils/parachain-utils"
]
