[profile.release]
panic = "unwind"

[workspace]
members = [
	"runtime/common",
	"runtime/primitives",
	"utils/faucet-server",
	"utils/parachain-utils",
    "frame/*",
    "integration-tests",
    "node",
    "price-feed",
    "runtime/picasso",
    "utils/subxt-clients",
]
