[profile.release]
panic = "unwind"

[workspace]
members = [
    "runtime/common",
    "runtime/primitives",
    "utils/faucet-server",
    "utils/parachain-utils",
    "frame/*",
    "integration-tests",
    "node",
    "runtime/picasso",
    "runtime/composable",
    "utils/subxt-clients",
    "utils/collator-sidecar",
    "crowdloan-rewards-api",
    "utils/price-feed",
]
