[package]
authors = ["Composable Developers"]
edition = "2021"
homepage = "https://composable.finance"
name = "composable"
version = "1.0.0"

[[bin]]
name = "composable"
path = "src/main.rs"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
color-eyre = { version = "0.5.11", default-features = false }
composable-node = { path = "node", features = ["composable", "dali"] }
# NOTE: Remove once we've upgraded to polkadot-v0.9.24
# https://github.com/paritytech/substrate/pull/11707
syn = "=1.0.97"

[features]
dali = []
local-integration-tests = []
picasso = []
runtime-benchmarks = ["composable-node/runtime-benchmarks"]
std = ["composable-node/std"]

[workspace]
exclude = [
  "frame/transaction-fee",
  "utils/extrinsics-docs-scraper",
  "integration-tests",
]
members = [
  "frame/*",
  "integration-tests/local-integration-tests",
  "node",
  "runtime/common",
  "runtime/primitives",
  "runtime/picasso",
  "runtime/dali",
  "runtime/composable",
  "utils/common",
  "utils/price-feed",
  "utils/collator-sidecar",
  "simnode/simnode-node",
  "simnode/simnode-tests",
  "simnode/common",
]

[profile.release]
# Polkadot runtime requires unwinding.
lto = false
panic = "unwind"

[profile.production]
inherits = "release"
lto = true

[patch.crates-io]
# https://github.com/paritytech/parity-scale-codec/issues/348
parity-scale-codec = { git = "https://github.com/paritytech/parity-scale-codec", tag = "parity-scale-codec-3.1.2" }
# parity-scale-codec-derive = { git = "https://github.com/paritytech/parity-scale-codec", tag = "parity-scale-codec-derive-3.1.2" }

[patch."https://github.com/paritytech/substrate"]
beefy-gadget = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
beefy-gadget-rpc = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
beefy-merkle-tree = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
beefy-primitives = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
fork-tree = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
frame-benchmarking = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
frame-benchmarking-cli = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
frame-election-provider-support = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
frame-executive = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
frame-support = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
frame-support-procedural = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
frame-support-procedural-tools = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
frame-support-procedural-tools-derive = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
frame-system = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
frame-system-benchmarking = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
frame-system-rpc-runtime-api = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
frame-try-runtime = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-asset-tx-payment = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-assets = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-aura = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-authority-discovery = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-authorship = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-babe = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-bags-list = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-balances = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-beefy = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-beefy-mmr = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-bounties = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-child-bounties = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-collective = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-democracy = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-election-provider-multi-phase = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-elections-phragmen = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-gilt = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-grandpa = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-identity = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-im-online = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-indices = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-membership = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-mmr = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-mmr-rpc = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-multisig = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-nicks = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-offences = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-offences-benchmarking = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-preimage = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-proxy = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-randomness-collective-flip = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-recovery = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-scheduler = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-session = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-session-benchmarking = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-society = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-staking = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-staking-reward-curve = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-staking-reward-fn = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-sudo = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-timestamp = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-tips = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-transaction-payment = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-transaction-payment-rpc = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-transaction-payment-rpc-runtime-api = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-treasury = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-uniques = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-utility = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
pallet-vesting = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
remote-externalities = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sc-allocator = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sc-authority-discovery = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sc-basic-authorship = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sc-block-builder = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sc-chain-spec = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sc-chain-spec-derive = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sc-cli = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sc-client-api = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sc-client-db = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sc-consensus = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sc-consensus-aura = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sc-consensus-babe = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sc-consensus-babe-rpc = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sc-consensus-epochs = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sc-consensus-manual-seal = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sc-consensus-slots = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sc-consensus-uncles = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sc-executor = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sc-executor-common = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sc-executor-wasmi = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sc-executor-wasmtime = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sc-finality-grandpa = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sc-finality-grandpa-rpc = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sc-informant = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sc-keystore = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sc-network = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sc-network-gossip = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sc-offchain = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sc-peerset = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sc-proposer-metrics = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sc-rpc = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sc-rpc-api = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sc-rpc-server = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sc-service = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sc-state-db = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sc-sync-state-rpc = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sc-telemetry = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sc-tracing = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sc-tracing-proc-macro = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sc-transaction-pool = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sc-transaction-pool-api = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sc-utils = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-api = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-api-proc-macro = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-application-crypto = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-arithmetic = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-authority-discovery = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-authorship = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-block-builder = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-blockchain = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-consensus = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-consensus-aura = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-consensus-babe = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-consensus-slots = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-consensus-vrf = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-core = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-core-hashing = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-core-hashing-proc-macro = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-database = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-debug-derive = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-externalities = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-finality-grandpa = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-inherents = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-io = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-keyring = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-keystore = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-maybe-compressed-blob = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-mmr-primitives = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-npos-elections = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-offchain = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-panic-handler = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-rpc = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-runtime = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-runtime-interface = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-runtime-interface-proc-macro = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-sandbox = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-serializer = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-session = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-staking = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-state-machine = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-std = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-storage = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-tasks = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-timestamp = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-tracing = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-transaction-pool = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-transaction-storage-proof = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-trie = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-version = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-version-proc-macro = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
sp-wasm-interface = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
substrate-build-script-utils = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
substrate-frame-rpc-system = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
substrate-prometheus-endpoint = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
substrate-wasm-builder = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
try-runtime-cli = { git = "https://github.com/composableFi/substrate", branch = "polkadot-v0.9.22" }
