[env]
CARGO_MAKE_EXTEND_WORKSPACE_MAKEFILE = true


[tasks.fmt]
workspace = false
script = '''
cargo +nightly fmt
'''

[tasks.build]
workspace = false
args = ["build", "--release"]

[tasks.polkadot]
workspace = false
script = '''
if [ ! -d "../polkadot" ] ; then
    git clone -b v0.9.16 https://github.com/paritytech/polkadot ../polkadot
fi
cd ../polkadot && cargo build --release 
'''

[tasks.devnet]
workspace = false
dependencies = ["build", "polkadot"]
script = '''
cargo run --release -- --version
cd ../polkadot && cargo run --release -- --version && pwd && cd ../composable
cd scripts/polkadot-launch && yarn && yarn composable
'''

[tasks.devnet-docker]
workspace = false
dependencies = []
script = '''
docker run --rm -ti -u$(id -u):$(id -g) -p9944:9944 -p9988:9988 -p9998:9998 composablefi/composable-sandbox:latest
'''

[tasks.run-local-integration-tests]
workspace=false
script='''
# we cannot use toolchain setting as different parts of codebase require different compiler
cargo +stable test --package local-integration-tests --features local-integration-tests --no-default-features
'''

[tasks.run-local-integration-tests-debug]
workspace=false
script='''
RUST_BACKTRACE=1 RUST_LOG=trace,parity-db=warn,trie=warn,runtime=trace,substrate-relay=trace,bridge=trace,xcmp=trace cargo +stable test --package local-integration-tests --features local-integration-tests --no-default-features -- --nocapture --test-threads=1
'''