# Hotjar 
SUBSTRATE_PROVIDER_URL_KUSAMA_2019=ws://127.0.0.1:9988
SUBSTRATE_PROVIDER_URL_KUSAMA=ws://127.0.0.1:9944
SUBSTRATE_PROVIDER_URL_KARURA=ws://127.0.0.1:9999
SUBSTRATE_PROVIDER_URL_STATEMINE=ws://127.0.0.1:10009

NEXT_PUBLIC_HOTJAR_ID=
NEXT_PUBLIC_HOTJAR_SITE_ID=

NEXT_PUBLIC_CF_SPACE_ID=
NEXT_PUBLIC_CF_DELIVERY_ACCESS_TOKEN=

SUBSQUID_URL=http://localhost:4350/graphql

NEXT_PUBLIC_SENTRY_DSN=
SENTRY_DSN=
