version: "3"

services:
    composable-sandbox:
        image: composablefi/composable-sandbox:{{ composable_sandbox_tag | default("latest") }}
        network_mode: host
        restart: always
        entrypoint: ["yarn", "run", "polkadot-launch", "composable.json"]
        volumes:
            - ./volumes/polkadot-launch:/tmp/polkadot-launch
