version: "3"

services:
  db:
    image: postgres:12
    volumes:
    - ./volumes/postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: squid
      POSTGRES_PASSWORD: squid
    ports:
      - "23798:5432"
      # command: ["postgres", "-c", "log_statement=all"]
