[package]
authors = ["Composable Developers"]
edition = "2021"
homepage = "https://composable.finance"
name = "pallet-dex-router"
rust-version = "1.56"
version = "0.0.1"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
frame-benchmarking = {default-features = false, optional = true, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22"}
frame-support = {default-features = false, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22"}
frame-system = {default-features = false, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22"}

sp-arithmetic = {default-features = false, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22"}
sp-core = {default-features = false, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22"}
sp-io = {default-features = false, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22"}
sp-runtime = {default-features = false, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22"}
sp-std = {default-features = false, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22"}

composable-support = {path = "../composable-support", default-features = false}
composable-traits = {path = "../composable-traits", default-features = false}
pallet-pablo = {path = "../pablo", default-features = false}
scale-info = {version = "2.1.1", default-features = false, features = [
  "derive",
]}
serde = {version = '1.0.136', optional = true}

[dependencies.codec]
default-features = false
features = ["derive"]
package = "parity-scale-codec"
version = "3.0.0"

[dev-dependencies]
composable-tests-helpers = {path = "../composable-tests-helpers"}
frame-benchmarking = {default-features = false, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22"}
orml-tokens = {git = "https://github.com/open-web3-stack/open-runtime-module-library", rev = "f709ed62262435b3ad80482d309e3575625d1e5b"}
orml-traits = {git = "https://github.com/open-web3-stack/open-runtime-module-library", rev = "f709ed62262435b3ad80482d309e3575625d1e5b", default-features = false}
pallet-balances = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22"}
pallet-currency-factory = {version = "0.0.1", path = "../currency-factory"}
pallet-pablo = {path = "../pablo", default-features = false}
pallet-timestamp = {default-features = false, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22"}

[features]
default = ["std"]
std = [
  "serde/std",
  "codec/std",
  "scale-info/std",
  "frame-support/std",
  "frame-system/std",
  "sp-runtime/std",
]

runtime-benchmarks = [
  "frame-benchmarking",
  "frame-support/runtime-benchmarks",
  "frame-system/runtime-benchmarks",
]
