disallowed-methods = [
  "core::result::Result::unwrap", # { path = "core::result::Result::unwrap", reason = "Errors should be handled properly. If panicking is valid in this context, make sure to write a comment explaining why." },
  "core::option::Option::unwrap", # { path = "core::option::Option::unwrap", reason = "Errors should be handled properly. If panicking is valid in this context, make sure to write a comment explaining why." },
]

disallowed-types = [
  "frame_support::storage::types::ValueQuery",
  # reports false positives with features maps, so cannot add
  #"std::vec::Vec",
]
type-complexity-threshold = 5000
