[package]
authors = ["Composable Developers"]
build = "build.rs"
edition = "2021"
homepage = "https://composable.finance"
name = "composable-node"
version = { workspace = true }

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
clap = { version = "4.0.9", features = ["derive"] }
codec = { package = "parity-scale-codec", version = "3.0.0" }
jsonrpsee = { version = "0.16.2", features = ["server", "macros"] }
log = "0.4.17"
once_cell = "1.12.0"
serde = { version = "1.0.136", features = ["derive"] }
common = { path = "../runtime/common" }
composable-runtime = { path = "../runtime/composable" }
picasso-runtime = { path = "../runtime/picasso" }
primitives = { path = "../runtime/primitives" }

pallet-assets = { path = "../frame/assets" }
pallet-crowdloan-rewards = { path = "../frame/crowdloan-rewards" }

assets-rpc = { path = "../frame/assets/rpc" }
assets-runtime-api = { path = "../frame/assets/runtime-api" }
cosmwasm-rpc = { path = "../frame/cosmwasm/rpc" }
cosmwasm-runtime-api = { path = "../frame/cosmwasm/runtime-api" }
crowdloan-rewards-rpc = { path = "../frame/crowdloan-rewards/rpc" }
crowdloan-rewards-runtime-api = { path = "../frame/crowdloan-rewards/runtime-api" }
lending-rpc = { path = "../frame/lending/rpc" }
lending-runtime-api = { path = "../frame/lending/runtime-api" }
pablo-rpc = { path = "../frame/pablo/rpc" }
pablo-runtime-api = { path = "../frame/pablo/runtime-api" }
staking-rewards-rpc = { path = "../frame/staking-rewards/rpc" }
staking-rewards-runtime-api = { path = "../frame/staking-rewards/runtime-api" }
pallet-transaction-payment-rpc = { path = "../frame/transaction-payment/rpc" }
pallet-transaction-payment-rpc-runtime-api = { path = "../frame/transaction-payment/rpc/runtime-api" }

ibc-rpc = { workspace = true }
pallet-ibc = { workspace = true }

frame-benchmarking = { workspace= true }
frame-benchmarking-cli = { workspace= true }
substrate-frame-rpc-system = { workspace= true }
substrate-prometheus-endpoint = { workspace= true }

sc-finality-grandpa = { workspace= true }
sc-basic-authorship = { workspace= true }
sc-chain-spec = { workspace= true }
sc-cli = { workspace= true }
sc-client-api = { workspace= true }
sc-consensus = { workspace= true }
sc-consensus-aura = { workspace= true }
sc-consensus-slots = { workspace= true }
sc-executor = { workspace= true }
sc-keystore = { workspace= true }
sc-network = { workspace= true }
sc-network-common = { workspace= true }
sc-rpc = { workspace= true }
sc-rpc-api = { workspace= true }
sc-service = { workspace= true }
sc-telemetry = { workspace= true }
sc-tracing = { workspace= true }
sc-transaction-pool = { workspace= true }

sc-transaction-pool-api = { workspace= true }
sp-api = { workspace= true }
sp-block-builder = { workspace= true }
sp-blockchain = { workspace= true }
sp-consensus = { workspace= true }
sp-consensus-aura = { workspace= true }
sp-core = { workspace= true }
sp-inherents = { workspace= true }
sp-keystore = { workspace= true }
sp-offchain = { workspace= true }
sp-runtime = { workspace= true }
sp-session = { workspace= true }
sp-state-machine = { workspace= true }
sp-storage = { workspace= true }
sp-timestamp = { workspace= true }
sp-transaction-pool = { workspace= true }
sp-trie = { workspace= true }
sp-io = { workspace= true }

cumulus-client-cli = { workspace = true }
cumulus-client-collator = { workspace = true }
cumulus-client-consensus-aura = { workspace = true }
cumulus-client-consensus-common = { workspace = true }
cumulus-client-network = { workspace = true }
cumulus-client-service = { workspace = true }
cumulus-primitives-core = { workspace = true }
cumulus-primitives-parachain-inherent = { workspace = true }
cumulus-relay-chain-inprocess-interface = { workspace = true }
cumulus-relay-chain-interface = { workspace = true }
cumulus-relay-chain-rpc-interface = { workspace = true }
cumulus-relay-chain-minimal-node = { workspace = true }

polkadot-cli = { git = "https://github.com/paritytech/polkadot", features = [
  "rococo-native",
], workspace = true }
polkadot-parachain = { workspace = true }
polkadot-primitives = { workspace = true }
polkadot-service = { workspace = true }

[build-dependencies]
substrate-build-script-utils = { workspace= true }

[dev-dependencies]
hex = "0.4.3"

[features]
builtin-wasm = [
  "picasso-runtime/builtin-wasm",
  "composable-runtime/builtin-wasm",
]
default = []
ocw = []
runtime-benchmarks = [
  "polkadot-cli/runtime-benchmarks",
  "polkadot-service/runtime-benchmarks",
  "picasso-runtime/runtime-benchmarks",
  "composable-runtime/runtime-benchmarks",
]
std = ["picasso-runtime/std", "composable-runtime/std"]

[package.metadata.cargo-udeps.ignore]
normal = ["pallet-bonded-finance"]
