[package]
authors = ["Composable Developers <admin@composable.finance>"]
edition = "2021"
name = "common"
version = "0.8.30"


[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[package.metadata.cargo-udeps.ignore]
normal = ["primitives"]

[dependencies]
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = [
  "derive",
] }
frame-support = { package = "frame-support", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.24" }
frame-system = { package = "frame-system", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.24" }
polkadot-primitives = { git = "https://github.com/paritytech/polkadot", default-features = false, branch = "release-v0.9.24" }
sp-consensus-aura = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.24" }
sp-core = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.24" }
sp-io = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.24" }
sp-runtime = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.24" }
sp-std = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.24" }


# xcm
xcm = { git = "https://github.com/paritytech/polkadot", default-features = false, branch = "release-v0.9.24" }
xcm-builder = { git = "https://github.com/paritytech/polkadot", default-features = false, branch = "release-v0.9.24" }
xcm-executor = { git = "https://github.com/paritytech/polkadot", default-features = false, branch = "release-v0.9.24" }

balances = { package = "pallet-balances", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.24" }
collator-selection = { package = "pallet-collator-selection", git = "https://github.com/paritytech/cumulus", default-features = false, branch = "polkadot-v0.9.24" }
collective = { package = "pallet-collective", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.24" }
treasury = { package = "pallet-treasury", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.24" }

composable-support = { path = "../../frame/composable-support", default-features = false }
composable-traits = { path = "../../frame/composable-traits", default-features = false }
num-traits = { version = "0.2.14", default-features = false }
orml-traits = { git = "https://github.com/open-web3-stack/open-runtime-module-library", rev = "b57f88b39cd547e2fb51727d8bb9bcc64fddf8b5", default-features = false }
primitives = { path = "../primitives", default-features = false }
scale-info = { version = "2.1.1", default-features = false, features = [
  "derive",
] }
orml-tokens = { git = "https://github.com/open-web3-stack/open-runtime-module-library", rev = "b57f88b39cd547e2fb51727d8bb9bcc64fddf8b5", default-features = false }

[dev-dependencies]
authorship = { package = "pallet-authorship", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.24" }
serde = { version = "1.0.136" }
sudo = { package = "pallet-sudo", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.24" }

[features]
default = ["std"]
runtime-benchmarks = [
  "collective/runtime-benchmarks",
  "xcm-builder/runtime-benchmarks",
]
std = [
  "codec/std",
  "orml-traits/std",
  "sp-consensus-aura/std",
  "sp-runtime/std",
  "primitives/std",
  "composable-traits/std",
  "sp-std/std",
  "sp-io/std",
  "frame-support/std",
  "frame-system/std",
  "collator-selection/std",
  "balances/std",
  "orml-tokens/std",
  "sudo/std",
  "collective/std",
  "treasury/std",
  "polkadot-primitives/std",
  "scale-info/std",
  "xcm/std",
  "xcm-builder/std",
  "xcm-executor/std",
  "orml-tokens/std",
  "composable-support/std",
]
