[package]
authors = ["Composable Developers"]
edition = "2021"
homepage = "https://composable.finance"
name = "pallet-ibc"
version = "0.0.1"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
log = { version = "0.4.0", default-features = false }
scale-info = { version = "2.1.1", default-features = false, features = ["derive"] }
serde_json = { version = "1.0.45", default-features = false }
hex-literal = { version = "0.3.4", optional = true }
sha2 = { version = "0.10.2", default-features = false }
derive_more = { version = "0.99.17", default-features = false, features = ["from", "display"]  }

balances = { package = "pallet-balances", git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
frame-benchmarking = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false, optional = true }
frame-support = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
frame-system = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
pallet-timestamp = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false, optional = true }
parachain-info = { git = "https://github.com/paritytech/cumulus", default-features = false, branch = "polkadot-v0.9.24" }
prost = { version = "0.10", default-features = false, optional = true }
simple-iavl = { git = "https://github.com/ComposableFi/simple-avl", rev = "452a1126bfb8a861354b413755ac3c8fda3da4ec", default-features = false, optional = true }
sp-core = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
sp-io = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
sp-runtime = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
sp-runtime-interface = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
sp-std = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
sp-trie = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24", default-features = false }
xcm = { default-features = false, git = "https://github.com/paritytech/polkadot", branch = "release-v0.9.24" }

ibc-proto = { git = "https://github.com/ComposableFi/ibc-rs", rev = "13de07663749a59a424d67bb259a714182df28eb", default-features = false }
ics23 = { git = "https://github.com/composablefi/ics23", rev = "b500a5c6068eb53c83c4c6c13bd9d8c25e0bf927", default-features = false, optional = true }
tendermint = { git = "https://github.com/composableFi/tendermint-rs", rev = "5a74e0f8da4d3dab83cc04b5f1363b018cf3d9e8", optional = true, default-features = false }
tendermint-proto = { git = "https://github.com/composableFi/tendermint-rs", rev = "5a74e0f8da4d3dab83cc04b5f1363b018cf3d9e8", default-features = false }

# local deps
assets = { package = "pallet-assets", path = "../assets", default-features = false }
composable-traits = { default-features = false, path = "../composable-traits" }
ibc-primitives = { path = "primitives", default-features = false }
pallet-ibc-ping = { path = "ping", default-features = false }
primitives = { path = "../../runtime/primitives", default-features = false }
#transfer = { package = "pallet-ibc-transfer", path = "transfer", default-features = false }

[dependencies.ibc]
git = "https://github.com/ComposableFi/ibc-rs"
rev = "13de07663749a59a424d67bb259a714182df28eb"
default-features = false
features = ["ics11_beefy"]

[dependencies.codec]
package = "parity-scale-codec"
version = "3.0.0"
features = ["derive"]
default-features = false

[dev-dependencies]
assets-registry = { package = "pallet-assets-registry", path = "../assets-registry" }
chrono = "0.4.19"
currency-factory = { package = "pallet-currency-factory", path = "../currency-factory" }
governance-registry = { package = "pallet-governance-registry", path = "../governance-registry" }
hex-literal = { version = "0.3.4" }
orml-tokens = { git = "https://github.com/open-web3-stack/open-runtime-module-library", rev = "b57f88b39cd547e2fb51727d8bb9bcc64fddf8b5" }
orml-traits = { git = "https://github.com/open-web3-stack/open-runtime-module-library", rev = "b57f88b39cd547e2fb51727d8bb9bcc64fddf8b5" }
pallet-timestamp = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24" }

prost = { version = "0.10" }
serde = { version = "1.0" }
simple-iavl = { git = "https://github.com/ComposableFi/simple-avl", rev = "452a1126bfb8a861354b413755ac3c8fda3da4ec" }
sp-keyring = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.24" }
tendermint = { git = "https://github.com/composableFi/tendermint-rs", rev = "5a74e0f8da4d3dab83cc04b5f1363b018cf3d9e8" }

[dev-dependencies.ibc]
git = "https://github.com/ComposableFi/ibc-rs"
rev = "13de07663749a59a424d67bb259a714182df28eb"
default-features = false
features = ["ics11_beefy", "mocks"]

[features]
default = ['std']
std = [
  'codec/std',
  'log/std',
  "scale-info/std",
  "frame-benchmarking/std",
  'frame-support/std',
  'frame-system/std',
  'sp-runtime/std',
  'sp-core/std',
  'sp-std/std',
  'sp-io/std',
  'ibc/std',
  'ibc-proto/std',
  'ibc-primitives/std',
  'balances/std',
  "pallet-ibc-ping/std",
#  "transfer/std",
  "parachain-info/std",
  "sha2/std",
  "xcm/std",
  "assets/std",
  "primitives/std",
  "serde_json/std",
]

runtime-benchmarks = [
  "frame-benchmarking",
  "frame-system/runtime-benchmarks",
  "tendermint",
  "hex-literal",
  "pallet-timestamp",
  "pallet-ibc-ping/runtime-benchmarks",
  "simple-iavl",
  "ics23",
  "prost",
  "ibc-primitives/runtime-benchmarks",
]

try-runtime = ["frame-support/try-runtime"]
