[package]
authors = ["Composable Developers"]
edition = "2021"
homepage = "https://composable.finance"
name = "pallet-ibc"
version = "0.0.1"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = [
  "derive",
] }
log = { version = "0.4.0", default-features = false }
scale-info = { version = "2.1.1", default-features = false, features = [
  "derive",
] }

balances = { package = "pallet-balances", git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22", default-features = false }
frame-benchmarking = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22", default-features = false, optional = true }
frame-support = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22", default-features = false }
frame-system = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22", default-features = false }
pallet-timestamp = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22", default-features = false, optional = true }
parachain-info = { git = "https://github.com/paritytech/cumulus", default-features = false, branch = "polkadot-v0.9.22" }
prost = { version = "0.10", default-features = false, optional = true }
simple-iavl = { git = "https://github.com/ComposableFi/simple-avl", rev = "7f68d854e82b3e422565df7100dedd79e8ffa346", default-features = false, optional = true }
sp-core = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22", default-features = false }
sp-io = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22", default-features = false }
sp-runtime = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22", default-features = false }
sp-runtime-interface = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22", default-features = false }
sp-std = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22", default-features = false }
sp-trie = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22", default-features = false }

hex-literal = { version = "0.3.4", optional = true }
ibc = { git = "https://github.com/ComposableFi/ibc-rs", rev = "c7c73ab423445f501ceae3d1d5d74815b502744a", default-features = false }
ibc-proto = { git = "https://github.com/ComposableFi/ibc-rs", rev = "c7c73ab423445f501ceae3d1d5d74815b502744a", default-features = false }
ics23 = { git = "https://github.com/composablefi/ics23", branch = "seun-v0.8.0-alpha", default-features = false, optional = true }
tendermint = { git = "https://github.com/composableFi/tendermint-rs", branch = "seun-0.23.7", default-features = false, optional = true }
tendermint-proto = { git = "https://github.com/composableFi/tendermint-rs", branch = "seun-0.23.7", default-features = false }

# local deps
ibc-primitives = { path = "ibc-primitives", default-features = false }
ibc-trait = { path = "ibc-trait", default-features = false }
pallet-ibc-ping = { path = "../ibc-ping", default-features = false }

# To be removed in refactor here https://github.com/ComposableFi/composable/pull/1122
sha2 = { version = "0.10.2", default-features = false }
sha3 = { version = "0.10.1", default-features = false }
ripemd = { version = "0.1.1", default-features = false }

[dev-dependencies]
chrono = "0.4.19"
hex = '0.4.0'
hex-literal = { version = "0.3.4" }
ibc = { git = "https://github.com/ComposableFi/ibc-rs", rev = "c7c73ab423445f501ceae3d1d5d74815b502744a", features = [
  "mocks",
] }
ics23 = { git = "https://github.com/composablefi/ics23", branch = "seun-v0.8.0-alpha" }
pallet-timestamp = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22" }
prost = { version = "0.10" }
serde = { version = "1.0" }
simple-iavl = { git = "https://github.com/ComposableFi/simple-avl", rev = "7f68d854e82b3e422565df7100dedd79e8ffa346" }
sp-keyring = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22" }
tendermint = { git = "https://github.com/composableFi/tendermint-rs", branch = "seun-0.23.7" }

[features]
default = ['std']
std = [
  'codec/std',
  'log/std',
  "scale-info/std",
  "frame-benchmarking/std",
  'frame-support/std',
  'frame-system/std',
  'sp-runtime/std',
  'sp-core/std',
  'sp-std/std',
  'sp-io/std',
  'ibc/std',
  'ibc-proto/std',
  'ibc-primitives/std',
  'balances/std',
  "pallet-ibc-ping/std",
  "ibc-trait/std",
  "parachain-info/std",
  "sp-runtime-interface/std",
  "sha3/std",
  "sha2/std",
  "ripemd/std"
]

runtime-benchmarks = [
  "frame-benchmarking",
  "frame-system/runtime-benchmarks",
  "tendermint",
  "hex-literal",
  "pallet-timestamp",
  "pallet-ibc-ping/runtime-benchmarks",
  "simple-iavl",
  "ics23",
  "prost",
]

try-runtime = ["frame-support/try-runtime"]
