[package]
edition = "2021"
name = "composable-runtime"
version = { workspace = true }

authors = ["Seun Lanlege <seunlanlege@gmail.com>"]
description = "Composable, Polkadot Parachain Runtime Implementation"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[package.metadata.cargo-udeps.ignore]
normal = [
  "pallet-vault",
  "session-benchmarking",
  "assets-registry",
  "currency-factory",
  "oracle",
  "vault",
  "assets",
  "governance-registry",
  "call-filter",
  "orml-unknown-tokens",
  "orml-xtokens",
]

[dependencies]
executive = { default-features = false, workspace = true }
frame-support = { default-features = false, workspace = true }
frame-system = { default-features = false, workspace = true }
sp-api = { default-features = false, workspace = true }
sp-block-builder = { default-features = false, workspace = true }
sp-consensus-aura = { default-features = false, workspace = true }
sp-core = { default-features = false, workspace = true }
sp-inherents = { default-features = false, workspace = true }
sp-offchain = { default-features = false, workspace = true }
sp-runtime = { default-features = false, workspace = true }
sp-session = { default-features = false, workspace = true }
sp-std = { default-features = false, workspace = true }
sp-transaction-pool = { default-features = false, workspace = true }
sp-version = { default-features = false, workspace = true }
aura = { default-features = false, workspace = true }
authorship = { default-features = false, workspace = true }
balances = { default-features = false, workspace = true }
collective = { default-features = false, workspace = true }
crowdloan-rewards = { package = "pallet-crowdloan-rewards", path = '../../frame/crowdloan-rewards', default-features = false }
democracy = { default-features = false, workspace = true }
indices = { default-features = false, workspace = true }
membership = { default-features = false, workspace = true }
orml-tokens = { workspace = true, default-features = false }
orml-traits = { workspace = true, default-features = false }
preimage = { default-features = false, workspace = true }
randomness-collective-flip = { default-features = false, workspace = true }
scheduler = { default-features = false, workspace = true }
session = { default-features = false, workspace = true }
smallvec = "1.6.1"
sudo = { default-features = false, workspace = true }
timestamp = { default-features = false, workspace = true }
treasury = { default-features = false, workspace = true }
utility = { default-features = false, workspace = true }
assets = { package = "pallet-assets", path = '../../frame/assets', default-features = false }
assets-registry = { package = "pallet-assets-registry", path = '../../frame/assets-registry', default-features = false }
call-filter = { package = "pallet-call-filter", path = "../../frame/call-filter", default-features = false }
common = { path = "../common", default-features = false }
composable-support = { path = "../../frame/composable-support", default-features = false }
composable-traits = { path = "../../frame/composable-traits", default-features = false }
currency-factory = { package = "pallet-currency-factory", path = "../../frame/currency-factory", default-features = false }
governance-registry = { package = "pallet-governance-registry", path = "../../frame/governance-registry", default-features = false }
oracle = { package = "pallet-oracle", path = "../../frame/oracle", default-features = false, optional = true }
primitives = { path = "../primitives", default-features = false }
vault = { package = "pallet-vault", path = "../../frame/vault", default-features = false, optional = true }
asset-tx-payment = { package = "pallet-asset-tx-payment", path = "../../frame/transaction-payment/asset-tx-payment", default-features = false }
transaction-payment = { package = "pallet-transaction-payment", path = "../../frame/transaction-payment", default-features = false }
system-rpc-runtime-api = { default-features = false, workspace = true }
transaction-payment-rpc-runtime-api = { package = "pallet-transaction-payment-rpc-runtime-api", path = "../../frame/transaction-payment/rpc/runtime-api", default-features = false }
assets-runtime-api = { path = '../../frame/assets/runtime-api', default-features = false }
crowdloan-rewards-runtime-api = { path = '../../frame/crowdloan-rewards/runtime-api', default-features = false }
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = [
  "derive",
] }
frame-benchmarking = { workspace = true, default-features = false, optional = true }
hex-literal = { version = "0.3.4", optional = true }
frame-system-benchmarking = { workspace = true, default-features = false, optional = true }


pallet-xcm = { workspace = true, default-features = false }
polkadot-parachain = { workspace = true, default-features = false }
scale-info = { version = "2.1.1", default-features = false, features = [
  "derive",
] }

collator-selection = { workspace = true, default-features = false }
cumulus-pallet-aura-ext = { workspace = true, default-features = false }
cumulus-pallet-dmp-queue = { workspace = true, default-features = false }
cumulus-pallet-parachain-system = { workspace = true, default-features = false }
cumulus-pallet-xcm = { workspace = true, default-features = false }
cumulus-pallet-xcmp-queue = { workspace = true, default-features = false }
cumulus-primitives-core = { workspace = true, default-features = false }
cumulus-primitives-timestamp = { workspace = true, default-features = false }
cumulus-primitives-utility = { workspace = true, default-features = false }
parachain-info = { workspace = true, default-features = false }
session-benchmarking = { workspace = true, default-features = false }

xcm = { workspace = true, default-features = false }
xcm-builder = { workspace = true, default-features = false }
xcm-executor = { workspace = true, default-features = false }

orml-unknown-tokens = { workspace = true, default-features = false }
orml-xcm-support = { workspace = true, default-features = false }
orml-xtokens = { workspace = true, default-features = false }

ibc = { workspace = true, default-features = false }
ibc-primitives = { workspace = true, default-features = false }
ibc-runtime-api = { workspace = true, default-features = false }
pallet-ibc = { workspace = true, default-features = false }

pallet-proxy = { default-features = false, workspace = true }


[features]
builtin-wasm = []
default = ["std"]
runtime-benchmarks = [
  "assets/runtime-benchmarks",
  "balances/runtime-benchmarks",
  "frame-benchmarking",
  "frame-support/runtime-benchmarks",
  "frame-system-benchmarking/runtime-benchmarks",
  "frame-system/runtime-benchmarks",
  "hex-literal",
  "balances/runtime-benchmarks",
  "timestamp/runtime-benchmarks",
  "assets-registry/runtime-benchmarks",
  "oracle/runtime-benchmarks",
  "collective/runtime-benchmarks",
  "collator-selection/runtime-benchmarks",
  "session-benchmarking/runtime-benchmarks",
  "pallet-xcm/runtime-benchmarks",
  "sp-runtime/runtime-benchmarks",
  "xcm-builder/runtime-benchmarks",
  "indices/runtime-benchmarks",
  "membership/runtime-benchmarks",
  "treasury/runtime-benchmarks",
  "scheduler/runtime-benchmarks",
  "collective/runtime-benchmarks",
  "democracy/runtime-benchmarks",
  "utility/runtime-benchmarks",
  "vault/runtime-benchmarks",
  "common/runtime-benchmarks",
  "pallet-ibc/runtime-benchmarks",
  "pallet-proxy/runtime-benchmarks",
  "asset-tx-payment/runtime-benchmarks",
]
std = [
  "codec/std",
  "composable-support/std",
  "sp-api/std",
  "sp-std/std",
  "sp-core/std",
  "sp-runtime/std",
  "sp-version/std",
  "sp-offchain/std",
  "sp-session/std",
  "sp-block-builder/std",
  "sp-transaction-pool/std",
  "sp-inherents/std",
  "frame-support/std",
  "executive/std",
  "frame-system/std",
  "utility/std",
  "authorship/std",
  "balances/std",
  "randomness-collective-flip/std",
  "timestamp/std",
  "session/std",
  "sudo/std",
  "indices/std",
  "oracle/std",
  "vault/std",
  "assets/std",
  "governance-registry/std",
  "call-filter/std",
  "currency-factory/std",
  "orml-tokens/std",
  "orml-traits/std",
  "treasury/std",
  "democracy/std",
  "scheduler/std",
  "common/std",
  "primitives/std",
  "collective/std",
  "transaction-payment/std",
  "parachain-info/std",
  "cumulus-pallet-aura-ext/std",
  "cumulus-pallet-parachain-system/std",
  "cumulus-pallet-xcmp-queue/std",
  "cumulus-pallet-xcm/std",
  "cumulus-primitives-core/std",
  "cumulus-primitives-timestamp/std",
  "cumulus-primitives-utility/std",
  "collator-selection/std",
  "xcm/std",
  "xcm-builder/std",
  "xcm-executor/std",
  "aura/std",
  "sp-consensus-aura/std",
  "scale-info/std",
  "orml-xtokens/std",
  "orml-xcm-support/std",
  "orml-unknown-tokens/std",
  "assets-registry/std",
  "governance-registry/std",
  "preimage/std",
  "membership/std",
  "system-rpc-runtime-api/std",
  "transaction-payment-rpc-runtime-api/std",
  "assets-runtime-api/std",
  "crowdloan-rewards-runtime-api/std",
  "ibc/std",
  "pallet-ibc/std",
  "ibc-primitives/std",
  "ibc-runtime-api/std",
  "pallet-proxy/std",
  "polkadot-parachain/std",
  "pallet-xcm/std",
  "composable-traits/std",
  "asset-tx-payment/std",
]
