[package]
edition = "2021"
name = "ibc-trait"
version = "0.1.0"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = [
  "derive",
] }
composable-traits = { default-features = false, path = "../../composable-traits" }
frame-support = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22", default-features = false }
hex = { version = "0.4.3", default-features = false }
ibc = { git = "https://github.com/ComposableFi/ibc-rs", rev = "b3ab319018b1bb8917bca3aad977455aa2c9b179", default-features = false, features = [
  "ics11_beefy",
] }
ibc-primitives = { path = "../ibc-primitives", default-features = false }
scale-info = { version = "2.1.1", default-features = false, features = [
  "derive",
] }
sp-io = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22", default-features = false }
sp-std = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22", default-features = false }
xcm = { default-features = false, git = "https://github.com/paritytech/polkadot", branch = "release-v0.9.22" }

[features]
default = ["std"]
std = [
  "ibc/std",
  "ibc-primitives/std",
  "scale-info/std",
  "codec/std",
  "frame-support/std",
  "sp-std/std",
  "sp-io/std",
  "composable-traits/std",
  "xcm/std",
  "hex/std",
]

runtime-benchmarks = []
