---
- hosts: all
  vars:
    release_version: "{{ lookup('env','RELEASE_VERSION') }}"
  tasks:
    - name: Stop Composable service
      become: true
      command: supervisorctl stop composable

    - name: Download composable binary {{ release_version }}
      become: yes 
      get_url: 
        url:  https://storage.googleapis.com/composable-binaries/dali-stage/{{ release_version }}/composable
        dest: ~/
        mode: "+x"
  
    - name: Move composable binary to /usr/local/bin/composable
      become: yes
      command: mv ~/composable /usr/bin/composable

    - name: Change Composable file permission
      become: yes
      file:
        path: /usr/bin/composable
        owner: "composable"
        group: "composable"

    - name: Check Version
      become: yes
      command: composable --version


    - name: Start Composable service
      become: true
      command: supervisorctl start composable
