[package]
authors = ["Composable Developers"]
description = "FRAME pallet for democracy with multi currency support"
edition = "2021"
homepage = "https://composable.finance"
license = "Apache-2.0"
name = "pallet-multitenant-democracy"
readme = "README.md"
version = "0.0.1"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
codec = {package = "parity-scale-codec", version = "3.0.0", default-features = false, features = [
  "derive",
]}
composable-traits = {default-features = false, path = "../composable-traits"}
frame-benchmarking = {default-features = false, optional = true, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22"}
frame-support = {default-features = false, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22"}
frame-system = {default-features = false, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22"}
orml-tokens = {git = "https://github.com/open-web3-stack/open-runtime-module-library", rev = "f709ed62262435b3ad80482d309e3575625d1e5b", default-features = false}
orml-traits = {git = "https://github.com/open-web3-stack/open-runtime-module-library", rev = "f709ed62262435b3ad80482d309e3575625d1e5b", default-features = false}
scale-info = {version = "2.1.1", default-features = false, features = [
  "derive",
]}
serde = {version = "1.0.136", optional = true, features = ["derive"]}
sp-io = {default-features = false, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22"}
sp-runtime = {default-features = false, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22"}
sp-std = {default-features = false, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22"}

[dev-dependencies]
composable-tests-helpers = {path = "../composable-tests-helpers"}
pallet-balances = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22"}
pallet-governance-registry = {path = "../governance-registry"}
pallet-preimage = {package = "pallet-preimage", git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22"}
pallet-scheduler = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22"}
proptest = "1.0"
sp-core = {git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22"}
[features]
default = ["std"]
runtime-benchmarks = [
  "frame-benchmarking",
  "frame-system/runtime-benchmarks",
  "frame-support/runtime-benchmarks",
  "sp-runtime/runtime-benchmarks",
]
std = [
  "composable-traits/std",
  "serde",
  "codec/std",
  "scale-info/std",
  "sp-std/std",
  "sp-io/std",
  "frame-support/std",
  "sp-runtime/std",
  "frame-system/std",
  "orml-traits/std",
  "orml-tokens/std",
]
try-runtime = ["frame-support/try-runtime"]
