[package]
description = "Local in memory(no OS handles opened) integrations tests via simulator. It may take time as it builds several runtimes as has direct dependency on runtime configuration"
edition = "2021"
name = "local-integration-tests"
version = "0.1.0"


[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[package.metadata.cargo-udeps.ignore]
normal = [
  "currency-factory",
  "oracle",
  "pallet-bonded-finance",
  "pallet-vault",
  "session-benchmarking",
  "vault",
]

[dependencies]
executive = { package = "frame-executive", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.36" }
frame-support = { package = "frame-support", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.36" }
frame-system = { package = "frame-system", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.36" }
num-traits = { version = "0.2.14", default-features = false }

# primitives
sp-api = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.36" }
sp-block-builder = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.36" }
sp-consensus-aura = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.36" }
sp-core = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.36" }
sp-inherents = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.36" }
sp-offchain = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.36" }
sp-runtime = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.36" }
sp-session = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.36" }
sp-std = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.36" }
sp-transaction-pool = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.36" }
sp-version = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.36" }


# modules
pallet-assets = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.36" }
aura = { package = "pallet-aura", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.36" }
authorship = { package = "pallet-authorship", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.36" }
balances = { package = "pallet-balances", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.36" }
collective = { package = "pallet-collective", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.36" }
democracy = { package = "pallet-democracy", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.36" }
indices = { package = "pallet-indices", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.36" }
membership = { package = "pallet-membership", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.36" }
orml-tokens = { git = "https://github.com/open-web3-stack/open-runtime-module-library", branch = "polkadot-v0.9.36", default-features = false }
orml-traits = { git = "https://github.com/open-web3-stack/open-runtime-module-library", branch = "polkadot-v0.9.36", default-features = false }
orml-unknown-tokens = { git = "https://github.com/open-web3-stack/open-runtime-module-library", branch = "polkadot-v0.9.36", default-features = false }
orml-xtokens = { git = "https://github.com/open-web3-stack/open-runtime-module-library", branch = "polkadot-v0.9.36", default-features = false }
randomness-collective-flip = { package = "pallet-randomness-collective-flip", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.36" }
scheduler = { package = "pallet-scheduler", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.36" }
session = { package = "pallet-session", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.36" }
smallvec = "1.6.1"
sudo = { package = "pallet-sudo", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.36" }
timestamp = { package = "pallet-timestamp", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.36" }
treasury = { package = "pallet-treasury", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.36" }
utility = { package = "pallet-utility", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.36" }

# local modules
assets = { package = "pallet-assets", path = "../../parachain/frame/assets", default-features = false, optional = true }
assets-registry = { package = "pallet-assets-registry", path = "../../parachain/frame/assets-registry", default-features = false, optional = true }
call-filter = { package = "pallet-call-filter", path = "../../parachain/frame/call-filter", default-features = false }
common = { path = "../../parachain/runtime/common", default-features = false }
composable-tests-helpers = { path = "../../parachain/frame/composable-tests-helpers", default-features = false }
composable-traits = { path = "../../parachain/frame/composable-traits", default-features = false }
currency-factory = { package = "pallet-currency-factory", path = "../../parachain/frame/currency-factory", default-features = false }
governance-registry = { package = "pallet-governance-registry", path = "../../parachain/frame/governance-registry", default-features = false, optional = true }
liquidations = { package = "pallet-liquidations", path = "../../parachain/frame/liquidations", default-features = false }
oracle = { package = "pallet-oracle", path = "../../parachain/frame/oracle", default-features = false }
primitives = { path = "../../parachain/runtime/primitives", default-features = false }
vault = { package = "pallet-vault", path = "../../parachain/frame/vault", default-features = false }
transaction-payment = { package = "pallet-transaction-payment", path = "../../parachain/frame/transaction-payment", default-features = false }

# Used for the node template's RPCs
system-rpc-runtime-api = { package = "frame-system-rpc-runtime-api", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.36" }

# Used for runtime benchmarking
benchmarking = { package = "frame-benchmarking", git = "https://github.com/paritytech/substrate", default-features = false, optional = true, branch = "polkadot-v0.9.36" }
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = [
  "derive",
] }
hex-literal = { version = "0.3.3", optional = true }
system-benchmarking = { package = "frame-system-benchmarking", git = "https://github.com/paritytech/substrate", default-features = false, optional = true, branch = "polkadot-v0.9.36" }

# Parachain Utilities
collator-selection = { package = "pallet-collator-selection", git = "https://github.com/paritytech/cumulus", default-features = false, branch = "polkadot-v0.9.36" }
cumulus-pallet-aura-ext = { git = "https://github.com/paritytech/cumulus", default-features = false, branch = "polkadot-v0.9.36" }
cumulus-pallet-dmp-queue = { git = "https://github.com/paritytech/cumulus", default-features = false, branch = "polkadot-v0.9.36" }
cumulus-pallet-parachain-system = { git = "https://github.com/paritytech/cumulus", default-features = false, branch = "polkadot-v0.9.36" }
cumulus-pallet-xcm = { git = "https://github.com/paritytech/cumulus", default-features = false, branch = "polkadot-v0.9.36" }
cumulus-pallet-xcmp-queue = { git = "https://github.com/paritytech/cumulus", default-features = false, branch = "polkadot-v0.9.36" }
cumulus-primitives-core = { git = "https://github.com/paritytech/cumulus", default-features = false, branch = "polkadot-v0.9.36" }
cumulus-primitives-timestamp = { git = "https://github.com/paritytech/cumulus", default-features = false, branch = "polkadot-v0.9.36" }
cumulus-primitives-utility = { git = "https://github.com/paritytech/cumulus", default-features = false, branch = "polkadot-v0.9.36" }
pallet-xcm = { git = "https://github.com/paritytech/polkadot", default-features = false, branch = "release-v0.9.36" }
parachain-info = { git = "https://github.com/paritytech/cumulus", default-features = false, branch = "polkadot-v0.9.36" }
polkadot-parachain = { git = "https://github.com/paritytech/polkadot", default-features = false, branch = "release-v0.9.36" }
scale-info = { version = "2.1.1", default-features = false, features = [
  "derive",
] }
session-benchmarking = { package = "cumulus-pallet-session-benchmarking", git = "https://github.com/paritytech/cumulus", default-features = false, branch = "polkadot-v0.9.36" }
sp-io = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.36" }
sp-keyring = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.36" }
xcm = { git = "https://github.com/paritytech/polkadot", default-features = false, branch = "release-v0.9.36" }
xcm-builder = { git = "https://github.com/paritytech/polkadot", default-features = false, branch = "release-v0.9.36" }
xcm-executor = { git = "https://github.com/paritytech/polkadot", default-features = false, branch = "release-v0.9.36" }


kusama-runtime = { git = "https://github.com/paritytech/polkadot", default-features = false, branch = "release-v0.9.36" }
parachains-common = { git = "https://github.com/paritytech/cumulus", default-features = false, branch = "polkadot-v0.9.36" }
paste = "1.0.6"
polkadot-core-primitives = { git = "https://github.com/paritytech/polkadot", default-features = false, branch = "release-v0.9.36" }
polkadot-primitives = { git = "https://github.com/paritytech/polkadot", default-features = false, branch = "release-v0.9.36" }
polkadot-runtime = { git = "https://github.com/paritytech/polkadot", default-features = false, branch = "release-v0.9.36" }
polkadot-runtime-parachains = { git = "https://github.com/paritytech/polkadot", default-features = false, branch = "release-v0.9.36" }
rococo-runtime = { git = "https://github.com/paritytech/polkadot", default-features = false, branch = "release-v0.9.36" }
# cumulus depends on substrate https://github.com/paritytech/cumulus/blob/27721d794ee63aae42317a7eeda21595dd3200d9/Cargo.lock#L5282
# via https://github.com/paritytech/substrate?branch=polkadot-v0.9.36#2dff067e9f7f6f3cc4dbfdaaa97753eccc407689
# cumulus does https://github.com/paritytech/cumulus/blob/27721d794ee63aae42317a7eeda21595dd3200d9/parachains/runtimes/assets/statemine/src/weights/pallet_assets.rs#L64
# but there is no that methods in https://github.com/paritytech/substrate/blob/2dff067e9f7f6f3cc4dbfdaaa97753eccc407689/frame/assets/src/weights.rs#L49
# build of 9.33 borked because of that
# statemine-runtime = { git = "https://github.com/paritytech/cumulus", default-features = false,  branch = "polkadot-v0.9.36" , optional = true }
xcm-emulator = { git = "https://github.com/shaunxw/xcm-simulator", rev = "64d8822f6ebc1af50092677a80a9bdb74860e9a9", default-features = false }

dali-runtime = { package = "dali-runtime", path = "../../parachain/runtime/dali", default-features = false, optional = true }
picasso-runtime = { package = "picasso-runtime", path = "../../parachain/runtime/picasso", default-features = false, optional = true }

[dev-dependencies]
base58 = "0.2"
env_logger = "0.10.0"
hex = "0.4.3"
more-asserts = "0.3.1"

[features]
dali = ["std", "develop", "local-integration-tests", "rococo"]
default = ["std", "develop", "local-integration-tests", "dali"]
#statemine = ["statemine-runtime"]
kusama = []
local-integration-tests = [
  "dali-runtime/local-integration-tests",
  "picasso-runtime/local-integration-tests",
]
picasso = ["std", "develop", "local-integration-tests", "kusama"]
polkadot = []
rococo = []
std = [
  "codec/std",
  "sp-api/std",
  "sp-std/std",
  "sp-core/std",
  "sp-runtime/std",
  "sp-version/std",
  "sp-offchain/std",
  "sp-session/std",
  "sp-io/std",
  "sp-block-builder/std",
  "sp-transaction-pool/std",
  "sp-inherents/std",
  "frame-support/std",
  "executive/std",
  "frame-system/std",
  "utility/std",
  "authorship/std",
  "balances/std",
  "randomness-collective-flip/std",
  "timestamp/std",
  "session/std",
  "sudo/std",
  "indices/std",
  "oracle/std",
  "vault/std",
  "currency-factory/std",
  "orml-tokens/std",
  "orml-xtokens/std",
  "orml-traits/std",
  "orml-unknown-tokens/std",
  "treasury/std",
  "democracy/std",
  "scheduler/std",
  "common/std",
  "dali-runtime/std",
  "picasso-runtime/std",
  "primitives/std",
  "collective/std",
  "transaction-payment/std",
  "parachain-info/std",
  "cumulus-pallet-aura-ext/std",
  "cumulus-pallet-parachain-system/std",
  "cumulus-pallet-xcmp-queue/std",
  "cumulus-pallet-xcm/std",
  "cumulus-primitives-core/std",
  "cumulus-primitives-timestamp/std",
  "cumulus-primitives-utility/std",
  "collator-selection/std",
  "xcm/std",
  "liquidations/std",
  "xcm-builder/std",
  "xcm-executor/std",
  "aura/std",
  "sp-consensus-aura/std",
  "scale-info/std",
  "kusama-runtime/std",
  "rococo-runtime/std",
  "polkadot-runtime/std",
  "polkadot-core-primitives/std",
  "polkadot-primitives/std",
  "polkadot-runtime-parachains/std",
  #"statemine-runtime/std",
  "parachains-common/std",
  "pallet-assets/std",
]

runtime-benchmarks = [
  "benchmarking",
  "frame-support/runtime-benchmarks",
  "system-benchmarking",
  "frame-system/runtime-benchmarks",
  "hex-literal",
  "balances/runtime-benchmarks",
  "timestamp/runtime-benchmarks",
  "oracle/runtime-benchmarks",
  "collective/runtime-benchmarks",
  "collator-selection/runtime-benchmarks",
  "session-benchmarking/runtime-benchmarks",
  "pallet-xcm/runtime-benchmarks",
  "sp-runtime/runtime-benchmarks",
  "liquidations/runtime-benchmarks",
  "xcm-builder/runtime-benchmarks",
  "indices/runtime-benchmarks",
  "membership/runtime-benchmarks",
  "treasury/runtime-benchmarks",
  "scheduler/runtime-benchmarks",
  "collective/runtime-benchmarks",
  "democracy/runtime-benchmarks",
  "utility/runtime-benchmarks",
  "kusama-runtime/runtime-benchmarks",
  "rococo-runtime/runtime-benchmarks",
  "polkadot-runtime/runtime-benchmarks",
  "dali-runtime/runtime-benchmarks",
  "picasso-runtime/runtime-benchmarks",
  "polkadot-primitives/runtime-benchmarks",
  "polkadot-runtime-parachains/runtime-benchmarks",
  "pallet-assets/runtime-benchmarks",
  #"statemine-runtime/runtime-benchmarks",
]

develop = ["assets", "assets-registry", "governance-registry"]
