#
### Main Service 1: Squid Archive setups
#
services:
  db:
    image: postgres:14 # CockroachDB cluster might be a better fit for production deployment
    deploy:
      restart_policy:
        condition: on-failure
        delay: 3s
        max_attempts: 3
        window: 20s
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: squid-archive
    ports:
      - 5432:5432
    volumes:
      - db-data:/var/lib/postgresql/data

  # Explorer service is optional.
  # It provides rich GraphQL API for querying archived data.
  # Many developers find it very useful for exploration and debugging.
  explorer:
    image: subsquid/substrate-explorer:firesquid
    restart: on-failure
    depends_on:
      db:
        condition: service_healthy
    environment:
      DB_TYPE: postgres # set to `cockroach` for Cockroach DB
      DB_HOST: db
      DB_PORT: "5432"
      DB_PORT_PG: 5432
      DB_NAME: "squid-archive"
      DB_USER: "postgres"
      DB_PASS: "postgres"
    ports:
      - "4010:3000"

  #
  ### Main Service 2: Processor, aka squid processor
  #

  # This DB service is used by squid
  squid-db:
    image: postgres:14
    deploy:
      restart_policy:
        condition: on-failure
        delay: 3s
        max_attempts: 3
        window: 20s
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_DB: squid
      POSTGRES_PASSWORD: squid
    volumes:
      - db-data-squid:/var/lib/postgresql/data

  processor:
    image: squid-processor
    restart: on-failure
    depends_on:
      squid-db:
        condition: service_started
    environment:
      DB_HOST: squid-db
      DB_NAME: squid
      DB_USER: postgres
      DB_PASS: squid
      DB_PORT: 5432
      GQL_PORT: 4350
      SUBSQUID_ARCHIVE_URI: "https://subsquid-archive.composablenodes.tech/graphql"
      RELAYCHAIN_URI: "wss://picasso-rpc-lb.composablenodes.tech"
      START_BLOCK: "1270000" # https://picasso.subscan.io/extrinsic/0xc875c8916e23c119f1d4202914dd0f28304aff62e46b0d51fed9b34e0aa30d9c
  #      RELAYCHAIN_URI: "ws://host.docker.internal:9988"
      TRIGGER_REPROCESSING: "${TRIGGER_REPROCESSING:-true}"

  graphql-server:
    image: squid-processor
    restart: on-failure
    entrypoint:
      - npx
      - squid-graphql-server
      - --subscriptions
    depends_on:
      processor:
        condition: service_started
    ports:
      - 4350:4350
    environment:
      DB_NAME: squid
      DB_HOST: squid-db
      DB_PASS: squid
      DB_PORT_PG: 5432
      GQL_PORT: 4350

volumes:
  db-data:
  db-data-squid:
