[package]
authors = ["Composable Developers"]
edition = "2021"
homepage = "https://composable.finance"
name = "pallet-staking-rewards"
resolver = "2"
version = "1.0.0"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[dependencies]
composable-support = { default-features = false, path = "../composable-support" }
composable-tests-helpers = { default-features = false, path = "../composable-tests-helpers", optional = true }
composable-traits = { default-features = false, path = "../composable-traits" }
frame-benchmarking = { default-features = false, optional = true, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.30" }
frame-support = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.30" }
frame-system = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.30" }
log = "0.4.17"
orml-traits = { git = "https://github.com/open-web3-stack/open-runtime-module-library", branch = "polkadot-v0.9.30", default-features = false }
parity-scale-codec = { default-features = false, features = [
  "derive",
], version = "3.0.0" }
scale-info = { default-features = false, version = "2.1.1", features = [
  "derive",
] }
sp-arithmetic = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.30" }
sp-core = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.30" }
sp-io = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.30" }
sp-runtime = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.30" }
sp-std = { default-features = false, git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.30" }

runtime-api = { default-features = false, path = "runtime-api", package = "staking-rewards-runtime-api" }

[dev-dependencies]
env_logger = "0.9.0"
frame-benchmarking = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.30" }
log = "0.4.17"
orml-tokens = { git = "https://github.com/open-web3-stack/open-runtime-module-library", branch = "polkadot-v0.9.30" }
orml-traits = { git = "https://github.com/open-web3-stack/open-runtime-module-library", branch = "polkadot-v0.9.30", default-features = false }
pallet-assets = { path = "../assets" }
pallet-balances = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.30" }
pallet-currency-factory = { path = "../currency-factory" }
pallet-fnft = { path = "../fnft" }
pallet-proxy = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.30" }
pallet-timestamp = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.30" }
primitives = { path = "../../runtime/primitives", default-features = false }
proptest = "1.0"

[features]
default = ["std"]
std = [
  "sp-std/std",
  "sp-runtime/std",
  "sp-io/std",
  "sp-core/std",
  "sp-arithmetic/std",
  "scale-info/std",
  "primitives/std",
  "parity-scale-codec/std",
  "frame-system/std",
  "frame-support/std",
  "composable-traits/std",
  "composable-support/std",
  "pallet-proxy/std",
  "composable-tests-helpers/std",
  "frame-benchmarking/std",
  # "runtime-api/std"
]

runtime-benchmarks = [
  "pallet-timestamp/runtime-benchmarks",
  "pallet-balances/runtime-benchmarks",
  "frame-system/runtime-benchmarks",
  "frame-support/runtime-benchmarks",
  "frame-benchmarking",
  "composable-tests-helpers/runtime-benchmarks",
]
