node_modules
artifacts
cache
.idea
tenderly.yaml
.vs/*
.DS_Store
.openzeppelin
deployments/goerli
deployments/rinkeby
deployments/mumbai
deployments/arbitrum_testnet
deployments/ropsten
deployments/kovan
deployments/optimism_l2_public
deployments/evmos/
deployments/localhost/
.yarnrc
.yarn
yarn.lock
package-lock.json
yarn-error.log

