---
- hosts: all
  tasks:
    - name: Stop Composable service
      become: true
      command: supervisorctl stop composable

    - name: Remove Previous Version #ToDO: add --continue-on-error
      become: yes
      command: rm /usr/bin/composable

    - name: Download composable binary ${RELEASE_VERSION}
      become: yes
      get_url:
        url: https://storage.googleapis.com/composable-binaries/community-releases/$CHAIN/composable-$RELEASE_VERSION.tar.gz
        dest: ~/
        mode: "+x"

    - name: Unpack Composable Bonary file 
      become: yes
      command: tar -xf ~/composable-${RELEASE_VERSION}.tar.gz

    - name: Move composable binary to /usr/local/bin/composable
      become: yes
      command: mv ~/target/release/composable /usr/bin/composable

    - name: Change owner composable
      become: yes
      command: chown composable:composable /usr/bin/composable


    - name: Check composable binary exists
      become: yes
      stat:
        path: ~/composable
      register: composable


    - name: Check Version
      become: yes
      command: composable --version


    - name: Start Composable service
      become: true
      command: supervisorctl start composable
