[Unit]
Description=A local cluster of Polkadot with registered Composable and Basilisk parachains
Documentation=https://github.com/ComposableFi/composable
After=network.target

[Service]
ExecStart=/usr/bin/yarn composable_and_basilisk

WorkingDirectory={{ work_dir }}/composable/scripts/polkadot-launch
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=composable-sandbox
User={{ user }}
Group={{ group }}

[Install]
WantedBy=multi-user.target
