[Unit]
Description=Subsquid Processor
Documentation=https://github.com/ComposableFi/composable/blob/main/subsquid/README.md
After=network.target

[Service]
ExecStart=node -r dotenv/config lib/processor.js

Environment="ENV=dali-stage"
WorkingDirectory={{ work_dir }}/subsquid
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=subsquid-processor
User={{ user }}
Group={{ group }}
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
