[Unit]
Description=Subsquid Archiver
Requires=docker.service
After=docker.service

[Service]
Restart=always

# Remove old containers
ExecStartPre=/usr/bin/docker-compose -f {{ archiver_dir }}/docker-compose.yml down -v
ExecStartPre=/usr/bin/docker-compose -f {{ archiver_dir }}/docker-compose.yml rm -v

# Compose up
ExecStart=/usr/bin/docker-compose -f {{ archiver_dir }}/docker-compose.yml up

# Compose down, remove containers and volumes
ExecStop=/usr/bin/docker-compose -f {{ archiver_dir }}/docker-compose.yml down -v

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
