[package]
edition = "2021"
name = "dali-runtime"
version = "0.1.0"

authors = ["Seun Lanlege <seunlanlege@gmail.com>"]
description = "Dali, Testnet Parachain Runtime Implementation"

[package.metadata.docs.rs]
targets = ["x86_64-unknown-linux-gnu"]

[package.metadata.cargo-udeps.ignore]
normal = [
  "pallet-vault",
  "session-benchmarking",
  "assets-registry",
  "currency-factory",
  "oracle",
  "vault",
  "assets",
  "governance-registry",
  "call-filter",
  "orml-unknown-tokens",
  "orml-xtokens",
]

[dependencies]
executive = { package = "frame-executive", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.22" }
frame-support = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.22" }
frame-system = { package = "frame-system", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.22" }

# primitives
sp-api = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.22" }
sp-block-builder = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.22" }
sp-consensus-aura = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.22" }
sp-core = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.22" }
sp-inherents = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.22" }
sp-offchain = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.22" }
sp-runtime = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.22" }
sp-session = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.22" }
sp-std = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.22" }
sp-transaction-pool = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.22" }
sp-version = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.22" }

# modules
aura = { package = "pallet-aura", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.22" }
authorship = { package = "pallet-authorship", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.22" }
balances = { package = "pallet-balances", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.22" }
collective = { package = "pallet-collective", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.22" }
democracy = { package = "pallet-democracy", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.22" }
identity = { package = "pallet-identity", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.22" }
indices = { package = "pallet-indices", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.22" }
membership = { package = "pallet-membership", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.22" }
multisig = { package = "pallet-multisig", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.22" }
orml-tokens = { git = "https://github.com/open-web3-stack/open-runtime-module-library", rev = "f709ed62262435b3ad80482d309e3575625d1e5b", default-features = false }
orml-traits = { git = "https://github.com/open-web3-stack/open-runtime-module-library", rev = "f709ed62262435b3ad80482d309e3575625d1e5b", default-features = false }
pallet-proxy = { git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.22" }
preimage = { package = "pallet-preimage", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.22" }
randomness-collective-flip = { package = "pallet-randomness-collective-flip", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.22" }
scheduler = { package = "pallet-scheduler", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.22" }
session = { package = "pallet-session", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.22" }
smallvec = "1.6.1"
sudo = { package = "pallet-sudo", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.22" }
timestamp = { package = "pallet-timestamp", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.22" }
transaction-payment = { package = "pallet-transaction-payment", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.22" }
treasury = { package = "pallet-treasury", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.22" }
utility = { package = "pallet-utility", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.22" }

# local modules
assets = { package = "pallet-assets", path = '../../frame/assets', default-features = false }
assets-registry = { package = "pallet-assets-registry", path = '../../frame/assets-registry', default-features = false }
bonded-finance = { package = "pallet-bonded-finance", path = "../../frame/bonded-finance", default-features = false }
call-filter = { package = "pallet-call-filter", path = "../../frame/call-filter", default-features = false }
common = { path = "../common", default-features = false }
composable-support = { path = '../../frame/composable-support', default-features = false }
composable-traits = { path = "../../frame/composable-traits", default-features = false }
crowdloan-rewards = { package = "pallet-crowdloan-rewards", path = '../../frame/crowdloan-rewards', default-features = false }
currency-factory = { package = "pallet-currency-factory", path = "../../frame/currency-factory", default-features = false }
dex-router = { package = "pallet-dex-router", path = "../../frame/dex-router", default-features = false }
dutch-auction = { package = "pallet-dutch-auction", path = "../../frame/dutch-auction", default-features = false }
governance-registry = { package = "pallet-governance-registry", path = "../../frame/governance-registry", default-features = false }
lending = { package = "pallet-lending", path = "../../frame/lending", default-features = false }
liquidations = { package = "pallet-liquidations", path = "../../frame/liquidations", default-features = false }
mosaic = { package = "pallet-mosaic", path = "../../frame/mosaic", default-features = false }
oracle = { package = "pallet-oracle", path = "../../frame/oracle", default-features = false }
pablo = { package = "pallet-pablo", path = "../../frame/pablo", default-features = false }
pallet-nft = { path = "../../frame/nft", default-features = false }
pallet-staking-rewards = { path = "../../frame/staking-rewards", default-features = false }
primitives = { path = "../primitives", default-features = false }
vault = { package = "pallet-vault", path = "../../frame/vault", default-features = false }
vesting = { package = "pallet-vesting", path = "../../frame/vesting", default-features = false }

# ibc support
hex = { version = "0.4.0", default-features = false }
ibc-primitives = { path = "../../frame/ibc/ibc-primitives", default-features = false }
ibc-runtime-api = { path = "../../frame/ibc/ibc-runtime-api", default-features = false }
ibc-transfer = { path = "../../frame/ibc-transfer", default-features = false }
pallet-ibc = { path = "../../frame/ibc", default-features = false }
pallet-ibc-ping = { path = "../../frame/ibc-ping", default-features = false }

# Used for the node template's RPCs
system-rpc-runtime-api = { package = "frame-system-rpc-runtime-api", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.22" }
transaction-payment-rpc-runtime-api = { package = "pallet-transaction-payment-rpc-runtime-api", git = "https://github.com/paritytech/substrate", default-features = false, branch = "polkadot-v0.9.22" }

# local RPCs
assets-runtime-api = { path = '../../frame/assets/runtime-api', default-features = false }
crowdloan-rewards-runtime-api = { path = '../../frame/crowdloan-rewards/runtime-api', default-features = false }
lending-runtime-api = { path = '../../frame/lending/runtime-api', default-features = false }
pablo-runtime-api = { path = '../../frame/pablo/runtime-api', default-features = false }

# Used for runtime benchmarking
codec = { package = "parity-scale-codec", version = "3.0.0", default-features = false, features = [
  "derive",
] }
frame-benchmarking = { package = "frame-benchmarking", git = "https://github.com/paritytech/substrate", default-features = false, optional = true, branch = "polkadot-v0.9.22" }
hex-literal = { version = "0.3.3", optional = true }
system-benchmarking = { package = "frame-system-benchmarking", git = "https://github.com/paritytech/substrate", default-features = false, optional = true, branch = "polkadot-v0.9.22" }

# Parachain Utilities
collator-selection = { package = "pallet-collator-selection", git = "https://github.com/paritytech/cumulus", default-features = false, branch = "polkadot-v0.9.22" }
cumulus-pallet-aura-ext = { git = "https://github.com/paritytech/cumulus", default-features = false, branch = "polkadot-v0.9.22" }
cumulus-pallet-dmp-queue = { git = "https://github.com/paritytech/cumulus", default-features = false, branch = "polkadot-v0.9.22" }
cumulus-pallet-parachain-system = { git = "https://github.com/paritytech/cumulus", default-features = false, branch = "polkadot-v0.9.22" }
cumulus-pallet-xcm = { git = "https://github.com/paritytech/cumulus", default-features = false, branch = "polkadot-v0.9.22" }
cumulus-pallet-xcmp-queue = { git = "https://github.com/paritytech/cumulus", default-features = false, branch = "polkadot-v0.9.22" }
cumulus-primitives-core = { git = "https://github.com/paritytech/cumulus", default-features = false, branch = "polkadot-v0.9.22" }
cumulus-primitives-timestamp = { git = "https://github.com/paritytech/cumulus", default-features = false, branch = "polkadot-v0.9.22" }
cumulus-primitives-utility = { git = "https://github.com/paritytech/cumulus", default-features = false, branch = "polkadot-v0.9.22" }
pallet-xcm = { git = "https://github.com/paritytech/polkadot", default-features = false, branch = "release-v0.9.22" }
parachain-info = { git = "https://github.com/paritytech/cumulus", default-features = false, branch = "polkadot-v0.9.22" }
polkadot-parachain = { git = "https://github.com/paritytech/polkadot", default-features = false, branch = "release-v0.9.22" }
scale-info = { version = "2.1.1", default-features = false, features = [
  "derive",
] }
session-benchmarking = { package = "cumulus-pallet-session-benchmarking", git = "https://github.com/paritytech/cumulus", default-features = false, branch = "polkadot-v0.9.22" }
xcm = { git = "https://github.com/paritytech/polkadot", default-features = false, branch = "release-v0.9.22" }
xcm-builder = { git = "https://github.com/paritytech/polkadot", default-features = false, branch = "release-v0.9.22" }
xcm-executor = { git = "https://github.com/paritytech/polkadot", default-features = false, branch = "release-v0.9.22" }

# orml XCM support
orml-unknown-tokens = { git = "https://github.com/open-web3-stack/open-runtime-module-library", rev = "f709ed62262435b3ad80482d309e3575625d1e5b", default-features = false }
orml-xcm-support = { git = "https://github.com/open-web3-stack/open-runtime-module-library", rev = "f709ed62262435b3ad80482d309e3575625d1e5b", default-features = false }
orml-xtokens = { git = "https://github.com/open-web3-stack/open-runtime-module-library", rev = "f709ed62262435b3ad80482d309e3575625d1e5b", default-features = false }

# simnode support
simnode-apis = { package = "simnode-runtime-apis", git = "https://github.com/polytope-labs/substrate-simnode", default-features = false, rev = "920d5d7a0329f2791e11930d2c4f96d9ce50b160" }

[build-dependencies]
substrate-wasm-builder = { git = "https://github.com/paritytech/substrate", branch = "polkadot-v0.9.22" }

[features]
default = ["std", "wasm-builder"]
local-integration-tests = []
runtime-benchmarks = [
  "assets/runtime-benchmarks",
  "balances/runtime-benchmarks",
  "frame-benchmarking",
  "frame-support/runtime-benchmarks",
  "system-benchmarking",
  "frame-system/runtime-benchmarks",
  "hex-literal",
  "balances/runtime-benchmarks",
  "timestamp/runtime-benchmarks",
  "assets-registry/runtime-benchmarks",
  "oracle/runtime-benchmarks",
  "collective/runtime-benchmarks",
  "collator-selection/runtime-benchmarks",
  "session-benchmarking/runtime-benchmarks",
  "pallet-xcm/runtime-benchmarks",
  "sp-runtime/runtime-benchmarks",
  "xcm-builder/runtime-benchmarks",
  "indices/runtime-benchmarks",
  "crowdloan-rewards/runtime-benchmarks",
  "identity/runtime-benchmarks",
  "multisig/runtime-benchmarks",
  "membership/runtime-benchmarks",
  "treasury/runtime-benchmarks",
  "scheduler/runtime-benchmarks",
  "collective/runtime-benchmarks",
  "democracy/runtime-benchmarks",
  "utility/runtime-benchmarks",
  "vault/runtime-benchmarks",
  "vesting/runtime-benchmarks",
  "assets/runtime-benchmarks",
  "bonded-finance/runtime-benchmarks",
  "dutch-auction/runtime-benchmarks",
  "mosaic/runtime-benchmarks",
  "currency-factory/runtime-benchmarks",
  "liquidations/runtime-benchmarks",
  "lending/runtime-benchmarks",
  "pablo/runtime-benchmarks",
  "dex-router/runtime-benchmarks",
  "common/runtime-benchmarks",
  "pallet-ibc/runtime-benchmarks",
  "pallet-proxy/runtime-benchmarks",
  "ibc-transfer/runtime-benchmarks",
  "pallet-staking-rewards/runtime-benchmarks",
]
std = [
  "codec/std",
  "sp-api/std",
  "sp-std/std",
  "sp-core/std",
  "sp-runtime/std",
  "sp-version/std",
  "sp-offchain/std",
  "sp-session/std",
  "sp-block-builder/std",
  "sp-transaction-pool/std",
  "sp-inherents/std",
  "frame-support/std",
  "executive/std",
  "frame-system/std",
  "utility/std",
  "authorship/std",
  "balances/std",
  "randomness-collective-flip/std",
  "timestamp/std",
  "session/std",
  "sudo/std",
  "indices/std",
  "oracle/std",
  "identity/std",
  "multisig/std",
  "vault/std",
  "assets/std",
  "governance-registry/std",
  "call-filter/std",
  "currency-factory/std",
  "orml-tokens/std",
  "orml-traits/std",
  "treasury/std",
  "democracy/std",
  "scheduler/std",
  "common/std",
  "primitives/std",
  "collective/std",
  "transaction-payment/std",
  "parachain-info/std",
  "cumulus-pallet-aura-ext/std",
  "cumulus-pallet-parachain-system/std",
  "cumulus-pallet-xcmp-queue/std",
  "cumulus-pallet-xcm/std",
  "cumulus-primitives-core/std",
  "cumulus-primitives-timestamp/std",
  "cumulus-primitives-utility/std",
  "collator-selection/std",
  "xcm/std",
  "xcm-builder/std",
  "xcm-executor/std",
  "aura/std",
  "sp-consensus-aura/std",
  "scale-info/std",
  "orml-xtokens/std",
  "orml-xcm-support/std",
  "orml-unknown-tokens/std",
  "assets-registry/std",
  "assets/std",
  "composable-traits/std",
  "crowdloan-rewards/std",
  "bonded-finance/std",
  "dutch-auction/std",
  "lending/std",
  "vesting/std",
  "mosaic/std",
  "preimage/std",
  "membership/std",
  "system-rpc-runtime-api/std",
  "transaction-payment-rpc-runtime-api/std",
  "assets-runtime-api/std",
  "pablo-runtime-api/std",
  "crowdloan-rewards-runtime-api/std",
  "liquidations/std",
  "simnode-apis/std",
  "pablo/std",
  "dex-router/std",
  "pallet-ibc/std",
  "ibc-runtime-api/std",
  "ibc-primitives/std",
  "pallet-ibc-ping/std",
  "pallet-proxy/std",
  "ibc-transfer/std",
  "hex/std",
  "pallet-staking-rewards/std",
]
wasm-builder = []
