name: Run Ansible Playbooks

on: 
  workflow_dispatch:
    
       

env: 
  ROOT_KEY: ${{ secrets.ROOT_KEY }}

jobs:
  run-playbooks:
    runs-on: 
        - self-hosted
        - linux
        - X64
        - ansible-runner

    steps:
    - name: Clean up
      continue-on-error: true
      run: docker system prune --force --all --volumes
      
    - uses: actions/checkout@v2
      with: 
        fetch-depth: 0

    - name: Set env
      run: |
        echo "RELEASE_VERSION=$(git tag --sort=committerdate | grep -E '^v[0-9]' | tail -1 )" >> $GITHUB_ENV

    - name: Run ansible playbook
      working-directory: "./.maintain/playbooks"
      run: |
        ansible-playbook -l _environment_testnet client-upgrade.yml -i gcp.yaml  --user runner -e 'ansible_python_interpreter=/usr/bin/python3'