name: Update benchmarks weights

on:
  workflow_dispatch:
  # Benchmarks run on the main repo branches only.
  pull_request:
    types: [labeled]
    branches:
      - main

env:
  NIX_NIXPKGS_CHANNEL: https://nixos.org/channels/nixpkgs-22.05-darwin
  CACHIX_COMPOSABLE: composable-community

jobs:
  update_benchmarks_weights:
    name: Update benchmarks weights
    runs-on:
      - self-hosted
      - linux
      - x64
      - bmark
    container:
      image: niteo/nixpkgs-nixos-22.05:316b762afdb9e142a803f29c49a88b4a47db80ee
    concurrency:
      group: update-benchmarking-${{ matrix.runtime }}-${{ github.ref }}
      cancel-in-progress: true
    strategy:
      matrix:
        runtime: [dali, picasso, composable]
    if: contains(github.event.pull_request.labels.*.name, 'needs-benchmarks')
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: "Setup Nix configuration"
        run: |
          echo "experimental-features = nix-command flakes" > /etc/nix/nix.conf
          echo "sandbox = relaxed" >> /etc/nix/nix.conf
          echo "narinfo-cache-negative-ttl = 0" >> /etc/nix/nix.conf

      - uses: cachix/cachix-action@f5f67badd061acb62b5c6e25e763572ca8317004
        with:
          name: ${{ env.CACHIX_COMPOSABLE }}
          skipPush: true
          installCommand: |
            nix-channel --add ${{ env.NIX_NIXPKGS_CHANNEL }} nixpkgs
            nix-channel --update
            nix-env -iA nixpkgs.cachix

      - name: Generate weights
        run: |
          nix run .#benchmarks-generate-${{ matrix.runtime }} -L

      - name: Get branch name
        id: branch-name
        uses: tj-actions/branch-names@v5.1

      - name: Fixup dubious ownership
        run: |
          # No clue why the next action fail without this otherwise.
          git config --global --add safe.directory /__w/composable/composable

      - name: Push generated weights
        uses: EndBug/add-and-commit@v9
        with:
          add: "code/parachain/runtime"
          message: "chore(benchmarking): update ${{ matrix.runtime }} benchmarking weights"
          push: "true"
          new_branch: ${{ steps.branch-name.outputs.current_branch }}
