name: Run Benchmarks

on:
  pull_request:
    branches:
      - releases
      - main

jobs:
  benchmark:
    name: Benchmark
    runs-on:
      - self-hosted
      - linux
      - x64
      - bmark
    if: github.event.pull_request.draft == false
    steps:
      - name: Clean up
        continue-on-error: true
        run: |
          sudo chown -R $USER:$USER $GITHUB_WORKSPACE
          docker system prune --force --all --volumes

      - uses: actions/checkout@v2
        with:
          ref: main

      - name: Check for runtime changes
        env:
          BASE_BRANCH: ${{ github.event.pull_request.base.ref }}
          GITHUB_REF_NAME: ${{ github.base_ref }}
        id: check_runtime
        if: github.event.label.name == 'needs-benchmarks'
        run: .maintain/check_runtime.sh

      - name: Benchmark Test
        env:
          BASE_BRANCH: ${{ github.event.pull_request.base.ref }}
          GITHUB_REF_NAME: ${{ github.base_ref }}
        if: env.RUNTIME_CHECK == 1
        id: run_benchmarks
        run: .maintain/run_benchmarks.sh
