name: Run Benchmark
on:
  pull_request:
    branches:
      - releases
      - main
jobs:
  benchmark: 
    name: Benchmark
    runs-on:
      - self-hosted
      - linux
      - x64
      - bmark
    if: github.event.pull_request.draft == false
    steps:
      - uses: actions/checkout@v2

      - name: Check for runtime changes
        id: check_runtime
        run: .maintain/check_runtime.sh
      
      - name: Benchmark Test
        if: "$${{ env.RUNTIME_CHECK }} == 1"
        id: run_benchmarks
        run: .maintain/run_benchmarks.sh
          


