name: Run Benchmark

on: 
  workflow_dispatch:

jobs:
  benchmark: 
    name: Benchmark
    runs-on:
      - self-hosted
      - linux
      - x64
      - bmark
    if: github.event.pull_request.draft == false
    steps:
      - uses: actions/checkout@v2

      - name: Check for runtime changes
        env:
          BASE_BRANCH: ${{ github.event.pull_request.base.ref }}
          GITHUB_REF_NAME: ${{ github.event.pull_request.head.ref }}
        id: check_runtime
        run: .maintain/check_runtime.sh
      
      - name: Benchmark Test
        env:
          BASE_BRANCH: ${{ github.event.pull_request.base.ref }}
          GITHUB_REF_NAME: ${{ github.event.pull_request.head.ref }}
        if: "$${{ env.RUNTIME_CHECK }} == 1"
        id: run_benchmarks
        run: .maintain/run_benchmarks.sh
