name: CI Check

# please update docker, toolchain toml and github action with toolchain at same time

on:
  push:
    paths-ignore:
      - frontend/**
    branches:
      - main
      # bors related branches. Please do not remove.
      - staging
      - trying      
  pull_request:
    paths-ignore:
      - frontend/**
    branches:
      - main
      - develop
      - releases
  
  workflow_dispatch:

env:
  DOCKER_USER_OPTION: '$UID:$GID'

jobs:
  spellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: streetsidesoftware/cspell-action@v2
        with:
          # When the spellcheck.dic is altered, we'd want to recheck existing files too.
          incremental_files_only: false 
          config: 'cspell.yaml'

  substrate-check:
    name: Check Benchmarks
    runs-on:
      - self-hosted
      - linux
      - x64
      - sre
    concurrency:
      group: check-${{ github.ref }}
      cancel-in-progress: true
    container:
      image: composablefi/ci-linux:2022-04-18
    steps:
      - name: Clean up
        continue-on-error: true
        run: |
          sudo chown -R $USER:$USER $GITHUB_WORKSPACE
          docker system prune --force --all --volumes
      - uses: actions/checkout@v2
      - name: Rustup show
        run: |
          rustup show
      - uses: actions/checkout@v2
      - name: cargo check --all --benches
        run: |
          SKIP_WASM_BUILD=1 cargo +nightly check --benches --all --features runtime-benchmarks # checks all rust crates with default-features, tests, benchmarks

  substrate-test-coverage:
    name: Unit Tests (With Coverage)
    runs-on:
      - self-hosted
      - linux
      - x64
      - sre
    concurrency:
      group: testcov-${{ github.ref }}
      cancel-in-progress: true
    container:
      image: composablefi/ci-linux:2022-04-18
    steps:
      - name: Clean up
        continue-on-error: true
        run: |
          sudo chown -R $USER:$USER $GITHUB_WORKSPACE
          docker system prune --force --all --volumes
      - uses: actions/checkout@v2
      - name: Rustup show
        run: |
          rustup show

      - name: Run Test (with coverage)
        env:
          SKIP_WASM_BUILD: 1
        run: |
          cargo +nightly llvm-cov --workspace --locked --release --verbose --lcov --output-path lcov.info
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: lcov.info
          fail_ci_if_error: false
  
  substrate-runtime-benchmark:
    runs-on:
      - self-hosted
      - linux
      - x64
      - sre
    concurrency:
      group: benchmarking-runtime-compat-${{ matrix.runtime }}-${{ github.ref }}
      cancel-in-progress: true
    container:
      image: composablefi/ci-linux:2022-04-18
    strategy:
      matrix:
        runtime: ["dali-dev", "picasso-dev", "composable-dev"]
    name: Benchmarking / ${{ matrix.runtime }}
    steps:
      - name: Clean up
        continue-on-error: true
        run: |
          sudo chown -R $USER:$USER $GITHUB_WORKSPACE
          docker system prune --force --all --volumes
      - uses: actions/checkout@v2

      - name: Get branch name
        id: branch-name
        uses: tj-actions/branch-names@v5.1

      # FIXME: actually broken: https://github.com/ComposableFi/composable/runs/5570301249?check_suite_focus=true
      # - name: Check for runtime changes
      #   env:
      #     BASE_BRANCH: ${{ github.event.pull_request.base.ref }}
      #     GITHUB_BRANCH_NAME: ${{ steps.branch-name.outputs.current_branch }}
      #   id: check_runtime
      #   run: .maintain/check_runtime.sh

      - name: Run single pass benchmarking
        # only run this step if there are runtime changes
        # if: env.RUNTIME_CHECK == 1
        env:
          RUST_BACKTRACE: full
        run: |
          cargo build --release -p composable --features=runtime-benchmarks
          ./target/release/composable benchmark pallet \
            --chain="${{ matrix.runtime }}" \
            --execution=wasm \
            --wasm-execution=compiled \
            --pallet="*" \
            --extrinsic='*' \
            --steps=1 \
            --repeat=1 \
            --log error


  substrate-tests:
    name: Unit Tests 
    runs-on:
      - self-hosted
      - linux
      - x64
      - sre
    concurrency:
      group: tests-${{ github.ref }}
      cancel-in-progress: true
    container:
      image: composablefi/ci-linux:2022-04-18
    steps:
      - name: Clean up
        continue-on-error: true
        run: |
          sudo chown -R $USER:$USER $GITHUB_WORKSPACE
          docker system prune --force --all --volumes
      - uses: actions/checkout@v2
      - name: Rustup show
        run: |
          rustup show
      - uses: actions/checkout@v2
      - name: Run Test
        run: |
          # NOTE: do not add --features=runtime-benchmarks because it force multi ED to be 0 because of dependencies
          # NOTE: in order to run benchmarks as tests, just make `any(test, feature = "runtime-benchmarks")
          SKIP_WASM_BUILD=1 cargo test --workspace --locked --release --verbose


  linters:
    name: Linters
    runs-on:
      - self-hosted
      - linux
      - x64
      - sre
    concurrency:
      group: lint-${{ github.ref }}
      cancel-in-progress: true
    container:
      image: composablefi/ci-linux:2022-04-18
    steps:
      - uses: actions/checkout@v2
      - name: Rustup show
        run: |
          rustup show
      - name: Use Node.js 14.x
        uses: actions/setup-node@v2
        with:
          node-version: 14.x

      - name: Cargo format (Rust)
        run: |
          cargo +nightly fmt --all -- --check

      - name: Work around permission issue (https://github.com/actions/checkout/issues/760)
        run: |
          git config --global --add safe.directory /__w/composable/composable

      - name: Taplo format (Toml)
        run: |
          taplo lint --warn-as-error
          taplo fmt --warn-as-error
          if ! git diff-index HEAD; then
            exit 1
          else
            echo "Everything is fine!"
          fi
      
      - name: Hadolint
        continue-on-error: true # this step is such a pita
        run: |
          hadolint --version
          total_exit_code=0
          for file in $(find . -name "Dockerfile" -or -name "*.dockerfile"); do
            echo "=== $file ==="
            hadolint --config .hadolint.yaml $file || total_exit_code=$?
            echo ""
          done
          exit $total_exit_code

      - name: Remark
        continue-on-error: true # this step is such a pita
        run: |
          npm install yarn
          ./node_modules/.bin/yarn add remark-cli \
            remark-lint-mdash-style \
            https://github.com/typeable/remark-validate-links#anchors \
            remark-preset-lint-recommended \
            remark-lint-no-dead-urls

          total_exit_code=0
          for file in $(find . -name "*.md" -not -path "*/node_modules/*" -not -path "./.github/*"); do
              ./node_modules/.bin/remark -f $file || total_exit_code=$?
          done
          exit $total_exit_code

      - name: mdbook
        run: |
          set -e
          cd book
          mdbook test 2>&1 | tee log
          if [ -z "$(cat log | grep ERROR)" ]; then
            true
          else
            exit 1
          fi

      - name: Cargo clippy
        run: |
          SKIP_WASM_BUILD=1 env -u RUSTFLAGS cargo +nightly clippy --all-targets --tests -- -D warnings

      - name: Cargo Single Depedency
        # description: Speed up builds and reduced security check surface
        run: |
          cargo +nightly install -f cargo-deny
          # start from minimal dependency crate
          cargo +nightly deny --manifest-path ./frame/composable-support/Cargo.toml check ban

      - name: Cargo udeps
        continue-on-error: true # Often this turns gives false positives, due to the different ways that Substrate uses features.
        run: |
          cargo udeps --version
          # Compilation of local-integration-tests crate with --all-features doesn't work
          SKIP_WASM_BUILD=1 cargo +nightly udeps --workspace --exclude local-integration-tests --all-features
