name: Test & Build & Benchmarking Build

on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  check:
    runs-on: 
      - self-hosted
      - linux
      - x64
      - sre
    steps: 
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with: 
          profile: minimal
          toolchain: stable
          override: true
      - uses: actions-rs/cargo@v1
      - name: Cargo Check
        run: |
          SKIP_WASM_BUILD=1 cargo check
      - name: Cargo Check Benchmark
        run: |
          SKIP_WASM_BUILD=1 cargo check --features=runtime-benchmarks --release
  clippy:
    name: Clippy
    runs-on: 
      - self-hosted
      - linux
      - x64
      - sre
    steps: 
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with: 
          toolchain: stable
          components: clippy
          override: true
      - name: Cargo clippy
        run: |
          SKIP_WASM_BUILD=1 cargo clippy -- -D warnings
      - name: Cargo fmt
        run: |
          rustup component add rustfmt --toolchain nightly-x86_64-unknown-linux-gnu
          cargo +nightly fmt -- --check

  test:
    name: Unit Test
    runs-on: 
      - self-hosted
      - linux
      - x64
      - sre
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with: 
          profile: minimal
          toolchain: stable
          override: true
      - name: Run Test
        run: |
          SKIP_WASM_BUILD=1 cargo test
          cargo clean -p picasso-runtime
          cargo clean -p composable




