name: Test & Build & Benchmarking Build

# please update docker, toolchain toml and github action with toolchain at same time
on:
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v2
      - uses: Swatinem/rust-cache@v1
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly-2021-09-01
          override: true
      - uses: actions-rs/cargo@v1
      - name: Cargo Check
        run: |
          rm -rf ~/.cargo
          SKIP_WASM_BUILD=1 cargo check
      - name: Cargo Check Benchmark
        run: |
          SKIP_WASM_BUILD=1 cargo check --features=runtime-benchmarks --release
  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly-2021-09-01
          components: clippy
          override: true
      - name: Cargo clippy
        run: |
          SKIP_WASM_BUILD=1 cargo clippy -- -D warnings
      - name: Cargo fmt
        run: |
          rustup component add rustfmt --toolchain nightly-2021-09-01-x86_64-unknown-linux-gnu
          cargo fmt -- --check

  test:
    name: Unit Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly-2021-09-01
          override: true
      - name: Run Test
        run: |
          SKIP_WASM_BUILD=1 cargo test
          cargo clean -p picasso-runtime
          cargo clean -p composable
