name: "Devnet(Rococo Local Dali Dev) Community Release"

on:
  push:
    branches:
      - main
      - nix/dz/fusion

jobs:
  deploy-devnet:
    runs-on: ubuntu-latest
    concurrency:
      group: deploy-devnet
      cancel-in-progress: false
    steps:
    - uses: actions/checkout@v2

    - uses: google-github-actions/setup-gcloud@v0
      with:
        service_account_key: ${{ secrets.GCP_CREDENTIALS }}
        export_default_credentials: true

    - uses: actions/setup-python@v2

    - name: Install Nix
      uses: cachix/install-nix-action@v16
      with:
        nix_path: nixpkgs=channel:nixos-unstable

    - uses: cachix/cachix-action@v10
      with:
        name: composable-community
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
        extraPullNames: composable-community

    - name: Set env
      run: |
        echo "RELEASE_VERSION=$GITHUB_SHA" >> $GITHUB_ENV

    - name: Install Stable
      uses: actions-rs/toolchain@v1
      with:
          toolchain: stable

    - name: Install Nightly
      uses: actions-rs/toolchain@v1
      with:
          toolchain: nightly-2022-02-01
          target: wasm32-unknown-unknown

    - uses: Swatinem/rust-cache@v1

    - name: Build & Push
      run: |
        rustup show
        cargo build --release
        cargo doc --release
        tar -czvf composable-picasso-${{ env.RELEASE_VERSION }}.tar.gz target/release/composable target/doc
        gsutil mv *.tar.gz gs://composable-binaries/community-releases/picasso/
        rm -rf target

    - name: Load state
      run: |
        cd devnet

        ./update.sh $RELEASE_VERSION
        jq --null-input --arg client_email "$GCP_DEVNET_SERVICE_ACCOUNT" --arg project_id "$GCP_PROJECT_ID" --arg key "\"$GCP_DEVNET_SERVICE_ACCOUNT_KEY\"" '{ "project_id": $project_id, "private_key": ($key | fromjson), "client_email": $client_email }' > ops.json

        cd ..

        if gsutil -q stat $NIXOPS_STATE_URL/$NIXOPS_STATE;
        then
          gsutil cp $NIXOPS_STATE_URL/$NIXOPS_STATE $NIXOPS_STATE
        else
          nix develop .#devnet --command nixops create -d devnet-gce --show-trace
        fi
      env:
        NIXOPS_STATE_URL: "gs://composable-state"
        NIXOPS_STATE: "deployment.nixops"
        GCP_PROJECT_ID: ${{ secrets.GCP_PROJECT_ID }}
        GCP_DEVNET_SERVICE_ACCOUNT: ${{ secrets.GCP_DEVNET_SERVICE_ACCOUNT }}
        GCP_DEVNET_SERVICE_ACCOUNT_KEY: ${{ secrets.GCP_DEVNET_SERVICE_ACCOUNT_KEY }}

    - name: Deploy
      run: |
        nix develop .#devnet --command nixops deploy --check --confirm -d devnet-gce --show-trace
      env:
        NIXOPS_STATE: "deployment.nixops"

    - name: Store state
      if: always()
      run: |
        gsutil cp $NIXOPS_STATE $NIXOPS_STATE_URL/
      env:
        NIXOPS_STATE: "deployment.nixops"
        NIXOPS_STATE_URL: "gs://composable-state"
