name: LabelValidator

on:
  pull_request:
     types: [opened, reopened, labeled, unlabeled, synchronize]
     branches: 
       - releases

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    
    - name: Validate
      uses: jesusvasquez333/verify-pr-label-action@v1.4.0
      with:
        github-token: ${{ secrets.COMPOSABLE_GITHUB_TOKEN }}
        valid-labels: 'major, minor, patch'