name: Check Runtime
on:
  push:
    branches:
      - release-*
      - main
  pull_request:
    branches:
      - release-*
      - main
jobs:
  check-runtime:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with: 
          fetch-depth: 0

      - name: Check for runtime changes
        working-directory: "./.maintain/"
        id: check_runtime
        run: |
          ./check_runtime

      - name: Echo output
        run: echo ${{ env.RUNTIME_CHECK }}

      - name: Run Simnode
        if: "$${{ env.RUNTIME_CHECK }} == 1"
        working-directory: "./.maintain/"
        id: run_simnode
        run: |
          sh run_simnode.sh

  benchmark: 
    name: Benchmark
    runs-on:
      - self-hosted
      - linux
      - x64
      - bmark
    steps:
      - uses: actions/checkout@v2
      - name: Benchmark Test
        if: "$${{ env.RUNTIME_CHECK }} == 1"
        working-directory: "./.maintain/"
        id: run_benchmarks
        run: |
          sh run_benchmarks.sh
          


