name: Run Simnode
on:
  pull_request:
    branches:
      - releases
      - main
jobs:
  simnode:
    runs-on: 
      - self-hosted
      - linux
      - x64
      - sre
    if: github.event.pull_request.draft == false
    steps:
      - name: Clean up
        continue-on-error: true
        run: |
          sudo chown -R $USER:$USER $GITHUB_WORKSPACE
          docker system prune --force --all --volumes
          echo "make sure the main branch and release tag are available in shallow clones"
          git fetch --depth="${GIT_DEPTH:-100}" origin "${BASE_BRANCH}"
        
      - uses: actions/checkout@v2
        with: 
          fetch-depth: 0


      - name: Check for runtime changes
        id: check_runtime
        env:
          BASE_BRANCH: ${{ github.event.pull_request.base.ref }}
        run: .maintain/check_runtime.sh

      - name: Run Simnode
        env:
          BASE_BRANCH: ${{ github.event.pull_request.base.ref }}
        if: env.RUNTIME_CHECK == 1
        id: run_simnode
        run: .maintain/run_simnode.sh
