name: Run Simnode

on:
  workflow_dispatch:
  pull_request:
    types: [labeled, synchronize, opened, reopened]
    branches:
      - main
      - releases

jobs:
  simnode:
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.ref }}
      cancel-in-progress: true
    if: github.event.pull_request.draft == false
    steps:
      - name: Clean up
        continue-on-error: true
        run: |
          sudo chown -R $USER:$USER $GITHUB_WORKSPACE
          docker system prune --force --all --volumes

      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Get branch name
        id: branch-name
        uses: tj-actions/branch-names@v5.1

      - name: Check for runtime changes
        id: check_runtime
        if: contains( github.event.pull_request.labels.*.name, 'needs-simnode')
        env:
          BASE_BRANCH: ${{ github.event.pull_request.base.ref }}
          GITHUB_BRANCH_NAME: ${{ steps.branch-name.outputs.current_branch }}
        run: .maintain/check_runtime.sh

      - name: Run Simnode
        env:
          BASE_BRANCH: ${{ github.event.pull_request.base.ref }}
          GITHUB_BRANCH_NAME: ${{ steps.branch-name.outputs.current_branch }}
        if: env.RUNTIME_CHECK == 1
        id: run_simnode
        run: .maintain/run_simnode.sh
