name: Run Simnode
on:
  pull_request:
    branches:
      - releases
      - main
jobs:
  simnode:
    runs-on:
      - self-hosted
      - linux
      - x64
      - sre
    if: github.event.pull_request.draft == false
    steps:
      - name: Clean up
        continue-on-error: true
        run: |
          sudo chown -R $USER:$USER $GITHUB_WORKSPACE
          docker system prune --force --all --volumes
          echo "BRANCH_NAME=$(echo ${GITHUB_HEAD_REF} | tr / -)" >> $GITHUB_ENV
        
      - uses: actions/checkout@v2
        with: 
          fetch-depth: 0

      - name: Get branch name
        id: branch-name
        uses: tj-actions/branch-names@v5.1

      - name: Check for runtime changes
        id: check_runtime
        env:
          BASE_BRANCH: ${{ github.event.pull_request.base.ref }}
          GITHUB_BRANCH_NAME: ${{ steps.branch-name.outputs.current_branch }}

        run: |
          .maintain/check_runtime.sh

      - name: Run Simnode
        env:
          BASE_BRANCH: ${{ github.event.pull_request.base.ref }}
          GITHUB_BRANCH_NAME: ${GITHUB_REF##*/}

        if: env.RUNTIME_CHECK == 1
        id: run_simnode
        run: .maintain/run_simnode.sh
